<div class="flex flex-col lg:flex-row p-2 bg-white border shadow-xs rounded-xl calculator-container items-center lg:items-start" data-controller="401k-retirement-calculator">
  <%= form_with html: { class: "bg-gray-25 p-4 rounded-lg w-full lg:w-96 flex flex-col gap-4 form-width", data: { action: "submit->401k-retirement-calculator#calculate" }} do |form| %>
    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :annual_salary, label: "Annual Salary", value: 0, unit_symbol: "$", data: { controller: "autonumeric" } %>
    </div>

    <div data-controller="synchronized-input" class="flex flex-col lg:flex-row gap-2 relative">
      <%= form.unit_field :monthly_contribution, label: "Monthly contribution", value: 0, label_right: "%", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 0 } } %>

      <%= form.unit_field :annual_salary_increase, label: "Annual salary increase", value: 0, label_right: "%", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 0 } } %>
    </div>

    <div data-controller="synchronized-input" class="flex flex-col lg:flex-row gap-2 relative">
      <%= form.unit_field :current_age, label: "Current age", value: 0, label_right: "years", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 0 } } %>

      <%= form.unit_field :retirement_age, label: "Retirement age", value: 65, label_right: "years", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 0 } } %>
    </div>

    <div data-controller="synchronized-input" class="flex flex-col gap-2 relative">
      <%= form.unit_field :annual_rate_of_return, label: "Annual rate of return", value: 5, label_right: "%", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 0 } } %>
    </div>

    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :current_401k_balance, label: "Current 401k balance", value: 0, unit_symbol: "$", data: { controller: "autonumeric" } %>
    </div>

    <div data-controller="synchronized-input" class="flex flex-col lg:flex-row gap-2 relative">
      <%= form.unit_field :employer_match, label: "Employer match", value: 0, label_right: "%", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 0 } } %>

      <%= form.unit_field :salary_limit_match, label: "Salary limit match", value: 0, label_right: "%", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 0 } } %>
    </div>

    <div class="mt-auto">
      <%= form.submit "Calculate" %>
    </div>
  <% end %>
  <div class="w-full lg:w-2/3 mt-4 lg:mt-0 lg:ml-4 h-">
    <div class="flex-1 p-4" data-401k-retirement-calculator-target="resultsContainer">
      <div class="grid h-96 place-items-center">
        <div class="flex flex-col gap-4 text-sm text-center text-gray-500 max-w-72">
          <%= lucide_icon "keyboard", class: "h-6 w-6 mx-auto" %>
          <p>Enter your details to see how your 401k can grow over time and secure retirement!</p>
        </div>
      </div>
    </div>
  </div>

  <template data-401k-retirement-calculator-target="resultsTemplate">
    <div class="relative p-4">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="col-span-1">
          <span class="text-sm text-gray-500">Estimated retirement</span>
          <br/>
          <span t-text:="estimatedRetirement" class="text-xl font-medium">-</span>
        </div>
        <div class="col-span-1">
          <span class="text-sm text-gray-500">Employee contributions</span>
          <br/>
          <span t-text:="employeeContribution" class="text-xl font-medium">-</span>
        </div>
        <div class="col-span-1">
          <span class="text-sm text-gray-500">Employer contributions</span>
          <br/>
          <span t-text:="employerContribution" class="text-xl font-medium">-</span>
        </div>
      </div>

      <%=
        tag.div(
          "",
          id: "401k-retirement-calculator-chart",
          class: "h-96 mt-6",
          data: {
            controller: "time-series-two-lines-chart",
            time_series_two_lines_chart_series_value: JSON.generate({
              employerContribution: {
                name: "Without employer match",
                fillClass: "fill-violet-600",
                strokeClass: "stroke-violet-600"
              },
              employeeContribution: {
                name: "With employer match",
                fillClass: "fill-pink-500",
                strokeClass: "stroke-pink-500"
              }
            })
          },
          "t-attr:data-time-series-two-lines-chart-data-value": "JSON.stringify(years)"
        )
      %>
    </div>
  </template>
</div>
