<div class="grid grid-cols-1 p-2 bg-white border shadow-xs sm:grid-cols-3 rounded-xl" data-controller="boggleheads-growth-calculator">
  <%= form_with html: { class: "bg-gray-25 p-4 rounded-lg flex flex-col gap-4 col-span-1", data: { action: "submit->boggleheads-growth-calculator#calculate" }} do |form| %>
    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :invested_amount, label: "Invested Amount", value: 0, unit_symbol: "$", data: { controller: "autonumeric", synchronized_input_target: "input", action: "synchronized-input#syncValue" } %>
      <%= range_input_slider class: "from-pink-500 to-pink-500", min: 0, max: 600000, step: 1000, value: 0 %>
    </div>

    <div data-controller="synchronized-ranges" class="flex flex-col gap-4">
      <div data-controller="synchronized-input" class="flex flex-col gap-2">
        <%= render partial: "shared/select", locals: { name: "stock_market_ticker", label: "Total Stock Market", value: 'VTI', button_class: '', options: [['VTI (Vanguard)', 'VTI'], ['SCHB (Schwab)', 'SCHB'], ['SPTM (SPDR)', 'SPTM']] } %>
        <%= render partial: 'shared/lock_toggle', locals: { sliderClass:"from-blue-500 to-blue-500 grow", name: "stock_market_percentage", id: "stock_market_percentage", value: "40" }  %>
      </div>

      <div data-controller="synchronized-input" class="flex flex-col gap-2">
        <%= render partial: "shared/select", locals: { name: "international_stock_market_ticker", label: "Total International Stock Market", value: 'VXUS', button_class: '', options: [['VXUS (Vanguard)', 'VXUS'], ['SCHF (Schwab)', 'SCHF'], ['SPDW (SPDR)', 'SPDW'], ['IXUS (iShares)', 'IXUS']] } %>
        <%= render partial: 'shared/lock_toggle', locals: { sliderClass:"from-cyan-400 to-cyan-400 grow", name: "international_stock_market_percentage", id: "international_stock_market_percentage", value: "30" }  %>
      </div>

      <div data-controller="synchronized-input" class="flex flex-col gap-2">
        <%= render partial: "shared/select", locals: { name: "bond_market_ticker", label: "Total Bond Market", value: 'BND', button_class: '', options: [['BND (Vanguard)', 'BND'], ['SCHZ (Schwab)', 'SCHZ'], ['SPAB (SPDR)', 'SPAB'], ['AGG (iShares)', 'AGG']] } %>
        <%= render partial: 'shared/lock_toggle', locals: { sliderClass:"from-violet-500 to-violet-500 grow", name: "bond_market_percentage", id: "bond_market_percentage", value: "30" }  %>
      </div>
    </div>

    <input type="hidden" name="stock_data" id="stock_data" value="<%= @stock_prices.to_json %>" />

    <div class="mt-auto">
      <%= form.submit "Calculate" %>
    </div>
  <% end %>
  <div class="col-span-2">
    <div class="flex-1" data-boggleheads-growth-calculator-target="resultsContainer">
      <div class="grid h-96 place-items-center">
        <div class="flex flex-col gap-4 text-sm text-center text-gray-500 max-w-72">
          <%= lucide_icon "keyboard", class: "h-6 w-6 mx-auto" %>
          <p>Enter your details to see how your three-fund portfolio performed the last 25 years!</p>
        </div>
      </div>
    </div>

    <template data-boggleheads-growth-calculator-target="resultsTemplate">
        <div class="flex flex-col gap-8 py-6 px-8">
          <div class="flex items-center justify-between gap-12">
              <div class="flex flex-col align-start justify-center gap-2 text-left">
                  <span class="text-sm text-gray-500">Invested</span>
                  <span t-text:="invested" class="text-xl font-medium">-</span>
              </div>
              <div class="flex flex-col align-start justify-center gap-2 text-left">
                  <span class="text-sm text-gray-500">Returns</span>
                  <span t-text:="returns" class="text-xl font-medium">-</span>
              </div>
              <div class="flex flex-col align-start justify-center gap-2 text-left">
                  <span class="flex text-sm text-gray-500 gap-1 items-center has-tooltip">
                    <div class='tooltip shadow-xs p-2 border rounded mt-36 ml-14 bg-white text-sm max-w-xs' style="z-index: 50000000000">
                      <p>
                        We use downside risk to determine the riskiness of a
                        portfolio strategy.
                      </p>
                      <dl class="mt-3 pt-3 border-t border-gray-700">
                        <div class="flex justify-between">
                          <dt class="mr-1">Downside Deviation</dt>
                          <dd class="text-right whitespace-nowrap" t-text:="downsideDeviation">-</dd>
                        </div>
                        <div className="mt-1 flex justify-between">
                          <dt className="mr-1">Maximum Drawdown</dt>
                          <dd class="text-right whitespace-nowrap" t-text:="drawDownText">-</dd>
                        </div>
                      </dl>
                    </div>
                    <span>Risk Level</span>
                    <%= lucide_icon "circle-help", class: "mx-auto text-base p-1" %>
                  </span>
                  <span data-controller="risk-level-text-color" data-risk-level-text-color-target="text" t-text:="riskLevel" class="text-xl font-medium text-pink-500">-</span>
              </div>
              <div class="flex flex-col align-start justify-center gap-2 text-left">
                <span class="text-sm text-gray-500">Final Value</span>
                <span t-text:="finalValue" class="text-xl font-medium">-</span>
              </div>
          </div>


          <%=
            tag.div(
              "",
              id: "boggleheads-growth-chart",
              class: "",
              style: "height: 422px",
              data: {
                controller: "time-series-boggleheads-growth-chart",
              },
              "t-attr:data-time-series-boggleheads-growth-chart-series-value": "legendData",
              "t-attr:data-time-series-boggleheads-growth-chart-data-value": "JSON.stringify(chartData)"
            )
          %>
        </div>
    </template>
  </div>
</div>
