<div class="grid grid-cols-1 p-2 bg-white border shadow-xs sm:grid-cols-3 rounded-xl" data-controller="early-mortgage-payoff-calculator">
  <%= form_with html: { class: "bg-gray-25 p-4 rounded-lg flex flex-col gap-4 col-span-1", data: { action: "submit->early-mortgage-payoff-calculator#calculate", early_mortgage_payoff_calculator_target: "form" }} do |form| %>
    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :loan_amount, label: "Loan amount", value: 500000, unit_symbol: "$", data: { controller: "autonumeric" } %>
    </div>

    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :original_term, label: "Original loan term", value: 30, label_right: "years", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 0 } } %>
    </div>

    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :years_left, label: "Years left on loan", value: 30, label_right: "years", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 0 } } %>
    </div>

    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :interest_rate, label: "Interest rate", value: @loan_interest_rate_30, label_right: "%", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 2 } } %>
    </div>

    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :extra_payment, label: "Extra monthly payment", value: 500, unit_symbol: "$", data: { controller: "autonumeric" } %>
    </div>

    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :savings_rate, label: "Annual investment return", value: 4, label_right: "%", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 2 } } %>
    </div>

    <div class="mt-auto">
      <%= form.submit "Calculate", class: "w-full px-4 py-2 text-white bg-pink-500 rounded-lg hover:bg-pink-600 transition" %>
    </div>
  <% end %>

  <div class="col-span-2">
    <div class="flex-1 p-4" data-early-mortgage-payoff-calculator-target="resultsContainer">
      <div class="grid h-96 place-items-center">
        <div class="flex flex-col gap-4 text-sm text-center text-gray-500 max-w-72">
          <%= lucide_icon "keyboard", class: "h-6 w-6 mx-auto" %>
          <p>Enter your mortgage details to see how early payoff can affect your finances!</p>
        </div>
      </div>
    </div>

    <template data-early-mortgage-payoff-calculator-target="resultsTemplate">
      <div class="relative p-4">
        <div class="grid grid-cols-2 gap-4 mb-6">
          <div class="bg-green-50 p-4 rounded-lg">
            <h3 class="text-lg font-semibold text-gray-700">Interest Savings</h3>
            <p class="text-3xl font-bold text-green-600"><span t-text="interestSavings"></span></p>
          </div>
          <div class="bg-blue-50 p-4 rounded-lg">
            <h3 class="text-lg font-semibold text-gray-700">Time Saved</h3>
            <p class="text-3xl font-bold text-blue-600"><span t-text="timeSaved"></span></p>
          </div>
        </div>

        <%=
          tag.div(
            "",
            id: "early-mortgage-payoff-calculator-chart",
            class: "h-96 mt-6",
            data: {
              controller: "time-series-two-lines-chart",
              time_series_two_lines_chart_series_value: JSON.generate({
                contributed: {
                  name: "Original Mortgage",
                  fillClass: "fill-violet-600",
                  strokeClass: "stroke-violet-600"
                },
                interest: {
                  name: "Early Payoff",
                  fillClass: "fill-pink-500",
                  strokeClass: "stroke-pink-500"
                }
              }),
              time_series_two_lines_chart_data_value: "[]"
            }
          )
        %>

        <div class="grid grid-cols-2 gap-4">
          <div class="bg-purple-50 p-4 rounded-lg">
            <h3 class="text-lg font-semibold text-gray-700">Investment Account Balance</h3>
            <p class="text-3xl font-bold text-purple-600"><span t-text="savingsAccountBalance"></span></p>
          </div>
          <div class="bg-gray-50 p-4 rounded-lg">
            <h3 class="text-lg font-semibold text-gray-700">Net Difference</h3>
            <p class="text-3xl font-bold" data-early-mortgage-payoff-calculator-target="netDifferenceValue">
              <span t-text="netDifference"></span>
            </p>
            <p class="text-sm mt-2" data-early-mortgage-payoff-calculator-target="netDifferenceComment"></p>
          </div>
        </div>
      </div>
    </template>
  </div>
</div>