<div class="grid grid-cols-1 p-2 bg-white border shadow-xs sm:grid-cols-3 rounded-xl" data-controller="early-mortgage-payoff-calculator">
  <%= form_with html: { class: "bg-gray-25 p-4 rounded-lg flex flex-col gap-4 col-span-1", data: { action: "change->early-mortgage-payoff-calculator#calculate input->early-mortgage-payoff-calculator#calculate" }} do |form| %>
    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :loan_amount, label: "Loan amount", value: 500000, unit_symbol: "$", data: { controller: "autonumeric", action: "input->early-mortgage-payoff-calculator#calculate" } %>
    </div>

    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :original_term, label: "Original loan term", value: 30, label_right: "years", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 0 }, action: "input->early-mortgage-payoff-calculator#calculate" } %>
    </div>

    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :years_left, label: "Years left on loan", value: 30, label_right: "years", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 0 }, action: "input->early-mortgage-payoff-calculator#calculate" } %>
    </div>

    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :interest_rate, label: "Interest rate", value: @loan_interest_rate_30, label_right: "%", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 2 }, action: "input->early-mortgage-payoff-calculator#calculate" } %>
    </div>

    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :extra_payment, label: "Extra monthly payment", value: 500, unit_symbol: "$", data: { controller: "autonumeric", synchronized_input_target: "input", action: "synchronized-input#syncValue input->early-mortgage-payoff-calculator#calculate" } %>
      <%= range_input_slider class: "from-pink-500 to-pink-500", min: 0, max: 2000, step: 100, value: 500 %>
    </div>

    <h4 class="text-base font-medium text-gray-700 mt-4">What if you invested instead?</h4>

    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :savings_rate, label: "Annual investment return", value: 4, label_right: "%", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 2 }, action: "input->early-mortgage-payoff-calculator#calculate" } %>
    </div>

    <div class="mt-auto">
      <%= form.submit "Calculate", class: "hidden" %>
    </div>
  <% end %>

  <div class="col-span-2">
    <div class="flex-1" data-early-mortgage-payoff-calculator-target="resultsContainer">
      <div class="grid h-96 place-items-center">
        <div class="flex flex-col gap-4 text-sm text-center text-gray-500 max-w-72">
          <%= lucide_icon "keyboard", class: "h-6 w-6 mx-auto" %>
          <p>Enter your mortgage details to see the impact of extra payments!</p>
        </div>
      </div>
    </div>
<%# early_mortgage_tool_redesign %>
    <template data-early-mortgage-payoff-calculator-target="resultsTemplate">
      <div class="relative p-4 px-5">
        <div class="flex flex-row gap-10 pb-5">
          <div class="flex flex-col gap-2">
            <span class="text-sm text-gray-500">Interest Savings</span>
            <span t-text:="interestSavings" class="text-xl font-medium text-green-500">-</span>
          </div>
          <div class="flex flex-col gap-2">
            <span class="text-sm text-gray-500">Time Savings</span>
            <span t-text:="timeSaved" class="text-xl font-medium">-</span>
          </div>
        </div>
        <div class="flex flex-col gap-3">
          <h1 class="text-gray-500 text-md">
            Adding an extra <span class="p-1 text-pink-500 rounded-md bg-pink-50">$500.00</span> to your monthly payments starting now will allow you to pay off the loan in <span class="">20 years and 7 months</span>. You would be
            <span class="">9 years and 5 months</span> ahead of schedule. This early payoff will save you <span class="p-1 text-green-600 rounded-md bg-green-50">$252,536</span> in interest.
          </h1>
        </div>
        <div class="flex flex-col gap-4 p-4 rounded-lg">
          <hr class="color-[#0B0B0B14]" />
          <div class="grid grid-cols-2 gap-4">
            <div class="flex flex-col gap-1">
              <h4 class="text-sm text-gray-500">Total interest (original)</h4>
              <h1 class="text-xl font-medium"><span t-text="totalInterest"></span></h1>
            </div>
            <div class="flex flex-col gap-1">
              <h4 class="text-sm text-gray-500">Total interest (with extra payments)</h4>
              <h1 class="text-xl font-medium"><span t-text="totalInterestWithExtra"></span></h1>
            </div>
          </div>
          <hr class="color-[#0B0B0B14]" />
          <div class="grid grid-cols-2 gap-4">
            <div class="flex flex-col gap-1">
              <h4 class="text-sm text-gray-500">Principal + Interest (original)</h4>
              <h1 class="text-xl font-medium"><span t-text="totalPrincipalAndInterest"></span></h1>
            </div>
            <div class="flex flex-col gap-1">
              <h4 class="text-sm text-gray-500">Principal + Interest (with extra payments)</h4>
              <h1 class="text-xl font-medium"><span t-text="totalPrincipalAndInterestWithExtra"></span></h1>
            </div>
          </div>
          <hr class="color-[#0B0B0B14]" />
          <div class="grid grid-cols-2 gap-4">
            <div class="flex flex-col gap-1">
              <h4 class="text-sm text-gray-500">Original payoff date</h4>
              <h1 class="text-xl font-medium"><span t-text="originalPayoffDate"></span></h1>
            </div>
            <div class="flex flex-col gap-1">
              <h4 class="text-sm text-gray-500">New payoff date</h4>
              <h1 class="text-xl font-medium"><span t-text="newPayoffDate"></span></h1>
            </div>
          </div>
        </div>
        <hr class="color-[#0B0B0B14]" />
        <div class="flex flex-col gap-3 pt-5">
          <h2 class="text-gray-500 text-md">
            Investing the extra payment could grow to <span class="p-1 text-green-600 rounded-md bg-green-50" t-text="savingsAccountBalance"></span> in 20 years and 7 months, a difference of
            <span class="p-1 text-blue-600 rounded-md" t-text="netDifference" data-early-mortgage-payoff-calculator-target="netDifferenceValue"></span> compared to early mortgage payoff.
          </h2>
          <p class="p-4 mt-2 mb-0 text-sm text-gray-500 rounded-md bg-gray-25 border" data-early-mortgage-payoff-calculator-target="netDifferenceComment"></p>
        </div>
      </div>
    </template>
  </div>
</div>
