<% title "Loan Calculator"
  description "The Loan Calculator allows you to easily plan your loans and understand your repayment schedule." %>

  <div class="flex flex-col-reverse p-2 bg-white border shadow-xs rounded-xl md:flex-row" data-controller="loan-calculator">

    <%= form_with html: { class: "bg-gray-25 p-4 rounded-lg w-full md:w-1/3 flex flex-col gap-4" , data: { action: "submit->loan-calculator#calculate" }} do |form| %>
      <div class="flex flex-col gap-2">
        <%= form.unit_field :loan_amount, label: "Loan amount" , value: 0, unit_symbol: "$" %>
      </div>

      <div class="flex form-field">
        <%= form.unit_field :loan_term, label: "Loan term" , value: 0, outer_div_class: "border-0 shadow-none focus-within:border-transparent focus-within:ring-0 focus-within:ring-transparent" %>
        <%= render partial: "shared/period_select_loan" , locals: { value: "years" } %>
      </div>

      <div class="flex flex-col gap-2">
        <%= form.unit_field :interest_rate, label: "Interest rate", value: 0, unit_symbol: "%", step: "any" %>
      </div>

      <div class="flex flex-col gap-2">
        <%= form.date_field :date, as: :date,label: "Start date" , value: form.object.try(:strftime,"%m/%d/%Y"), required: true, max: Date.today %>
      </div>

      <div class="mt-auto">
        <%= form.submit "Calculate" %>
      </div>
      <% end %>

        <div class="flex-1" data-loan-calculator-target="resultsContainer">
          <div class="grid h-96 place-items-center">
            <div class="flex flex-col gap-4 text-sm text-center text-gray-500 max-w-72">
              <%= lucide_icon "keyboard" , class: "h-6 w-6 mx-auto" %>
                <p>Fill in the fields to calculate inflation.</p>
            </div>
          </div>
        </div>

        <template data-loan-calculator-target="resultsTemplate">
          <div class="flex flex-col gap-4 p-6 ml-2 rounded-lg">
            <div class="flex flex-col gap-3">
              <h4 class="text-base text-gray-500">Monthly payments</h4>
              <h1 class="text-4xl font-medium">$<span t-text="monthlyPayments"></span></h1>
            </div>
            <hr class="color-[#0B0B0B14]">
            <div class="grid grid-cols-2 gap-4">
              <div class="flex flex-col gap-1">
                <h4 class="text-sm text-gray-500">Total principal paid</h4>
                <h1 class="text-xl font-medium">$<span t-text="totalPrincipalPaid"></span></h1>
              </div>
              <div class="flex flex-col gap-1">
                <h4 class="text-sm text-gray-500">Total interest paid</h4>
                <h1 class="text-xl font-medium">$<span t-text="totalInterestPaid"></span></h1>
              </div>
              <div class="flex flex-col gap-1">
                <h4 class="text-sm text-gray-500">Total paid</h4>
                <h1 class="text-xl font-medium">$<span t-text="totalPaid"></span></h1>
              </div>
              <div class="flex flex-col gap-1">
                <h4 class="text-sm text-gray-500">Total number of payments</h4>
                <h1 class="text-xl font-medium"><span t-text="totalNumberOfPayments"></span></h1>
              </div>
            </div>
            <hr class="color-[#0B0B0B14]">
            <div class="flex flex-col gap-1">
              <h4 class="text-sm text-gray-500">Estimated payoff date</h4>
              <h1 class="text-xl font-medium" t-text="estimatedPayoffDate"></h1>
            </div>
          </div>
        </template>
  </div>