<%
  title "ROI Calculator"
  description "See how to calculate the return on your investments and evaluate the gain or loss."
%>

<div class="flex p-2 bg-white border shadow-xs rounded-xl" data-controller="roi-calculator">
  <%= form_with html: { class: "bg-gray-25 p-4 rounded-lg w-1/3 flex flex-col gap-4", data: { action: "submit->roi-calculator#calculate" }} do |form| %>
    <div class="flex flex-col gap-2">
      <%= form.unit_field :amount_invested, label: "Amount Invested", value: 0, unit_symbol: "$"  %>
    </div>

    <div class="flex flex-col gap-2">
      <%= form.unit_field :amount_returned, label: "Amount Returned", value: 0, unit_symbol: "$" %>
    </div>

    <div class="flex form-field">
      <%= form.unit_field :investment_length, label: "Investment Length", value: 0, outer_div_class: "border-0 shadow-none focus-within:border-transparent focus-within:ring-0 focus-within:ring-transparent"  %>
      <%= render partial: "shared/period_select", locals: { value: "years" } %>
    </div>

    <div class="mt-auto">
      <%= form.submit "Calculate" %>
    </div>
  <% end %>

  <div class="flex-1" data-roi-calculator-target="resultsContainer">
    <div class="grid h-96 place-items-center">
      <div class="flex flex-col gap-4 text-sm text-center text-gray-500 max-w-72">
        <%= lucide_icon "keyboard", class: "h-6 w-6 mx-auto" %>
        <p>Fill in the fields to calculate your investment’s ROI.</p>
      </div>
    </div>
  </div>

  <template data-roi-calculator-target="resultsTemplate">
    <div class="flex flex-col gap-4 p-6 mb-24 ml-2 rounded-lg bg-gradient-to-b from-green-50 to-white">
      <div class="flex flex-col gap-3">
        <h4 class="text-base text-gray-500">Investment gain</h4>
        <h1 class="text-4xl font-medium">$<span t-text:="InvestmentGain"></span></h1>
      </div>
      <div class="flex flex-col gap-3">
        <h4 class="text-base text-gray-500">ROI</h4>
        <h1 t-attr:class="RoiClass"><span t-text:="Roi"></span>%</h1>
      </div>
      <div class="flex flex-col gap-3">
        <h4 class="text-base text-gray-500">Annualized ROI</h4>
        <h1 t-attr:class="AnnualizedRoiClass"><span t-text:="AnnualizedRoi"></span>%</span></h1>
      </div>
    </div>
  </template>
</div>
