<div class="grid grid-cols-1 p-2 bg-white border shadow-xs sm:grid-cols-3 rounded-xl" data-controller="stock-portfolio-backtest">
  <%= form_with html: { class: "bg-gray-25 p-4 rounded-lg flex flex-col gap-4 col-span-1", data: { action: "submit->stock-portfolio-backtest#calculate" }} do |form| %>

    <%= render partial: 'shared/section_divider', locals: { section_name: 'Portfolio' } %>

    <% 10.times do |i| %>
      <%= render partial: "shared/stocks_allocator", locals: { list: "stocksData", index: i, required: i == 0 } %>
    <% end %>

    <div class="flex items-center justify-end gap-2">
      <span class="text-gray-700 text-xs">Total allocation</span>
      <div class="flex items-center gap-[6px] px-[14px] py-2 h-9 bg-green-400/5 border border-gray-200 rounded-md">
        <span class="text-black text-sm" data-stock-portfolio-backtest-target="totalAllocation">0%</span>
        <%= lucide_icon("align-vertical-distribute-center", class: "h-4 w-4 text-gray-500 cursor-pointer", 'data-action': "click->stock-portfolio-backtest#distributeEvenly") %>
      </div>
    </div>

    <span class="text-red-500 text-xs" data-stock-portfolio-backtest-target="totalAllocationWarning"></span>

    <%= render partial: 'shared/section_divider', locals: { section_name: 'Settings' } %>

    <%= render partial: "shared/search_select", locals: { list: "stocksData", label: "Benchmark", name: "benchmarkStock", required: true, placeholder: "Search for a stock" } %>

    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :investment_amount, label: "Investment amount", value: 10000, unit_symbol: "$", data: { controller: "autonumeric", action: "input->stock-portfolio-backtest#calculate" } %>
    </div>

    <div class="flex flex-col gap-2">
      <%= form.date_field :start_date, label: "Start date" , value: form.object.try(:strftime,"%Y/%m/%d"), max: Date.today %>
    </div>

    <div class="flex flex-col gap-2">
      <%= form.date_field :end_date, label: "End date" , value: form.object.try(:strftime,"%Y/%m/%d"), max: Date.today, value: Date.today %>
    </div>
    
    <div class="mt-auto">
      <%= form.submit "Calculate" %>
    </div>
  <% end %>

  <div class="col-span-2">
    <div class="flex-1 h-full" data-stock-portfolio-backtest-target="resultsContainer">
      <div class="grid h-full place-items-center">
        <div class="flex flex-col gap-4 text-sm text-center text-gray-500 max-w-80">
          <%= lucide_icon "keyboard", class: "h-6 w-6 mx-auto" %>
          <p>Add stocks on the left to start benchmarking and backtesting your portfolio!</p>
        </div>
      </div>
    </div>

    <template data-stock-portfolio-backtest-target="loadingTemplate">
     <div class="animate-pulse flex flex-col gap-4 p-6 rounded-lg" t-if="isLoading == true">
       <div class="flex justify-around">
         <div class="text-left">
           <div class="text-3xl font-medium text-gray-900 h-8 bg-gray-300 rounded"></div>
           <div class="mt-4 flex items-center justify-center gap-3 text-gray-900">
             <span class="text-sm w-32 h-4 bg-gray-300 rounded"></span>
           </div>
         </div>
         <div class="text-left">
           <div class="text-3xl font-medium text-gray-900 h-8 bg-gray-300 rounded"></div>
           <div class="mt-4 flex items-center justify-center gap-3 text-gray-900">
             <span class="text-sm w-32 h-4 bg-gray-300 rounded"></span>
           </div>
         </div>
       </div>
       <div class="h-96 bg-gray-300 rounded"></div>
     </div>
    </template>

    <template data-stock-portfolio-backtest-target="resultsTemplate">
      <div class="flex flex-col gap-4 p-6 rounded-lg">
        <div class="flex justify-around">
          <div class="text-left">
            <div class="text-3xl font-medium text-gray-900" t-text:="portfolioGrowth"></div>
            <div class="mt-4 flex items-center justify-center gap-3 text-gray-900">
              <span class="inline-block w-2 h-2 bg-pink-500 rounded-full"></span>
              <span class="text-sm">Portfolio Growth</span>
            </div>
          </div>
          <div class="text-left">
            <div class="text-3xl font-medium text-gray-900" t-text:="benchmarkGrowth"></div>
            <div class="mt-4 flex items-center justify-center gap-3 text-gray-900">
              <span class="inline-block w-2 h-2 bg-blue-500 rounded-full"></span>
              <span class="text-sm">Benchmark Growth</span>
            </div>
          </div>
        </div>
        <%=
           tag.div(
             "",
             id: "stock-portfolio-backtest-chart",
             style: "height: 432px",
             data: {
               controller: "time-series-bogleheads-growth-chart",
             },
             "t-attr:data-time-series-bogleheads-growth-chart-series-value": "legendData",
             "t-attr:data-time-series-bogleheads-growth-chart-series-value": "legendData",
             "t-attr:data-time-series-bogleheads-growth-chart-show-legend-value": "false",
             "t-attr:data-time-series-bogleheads-growth-chart-data-value": "JSON.stringify(chartData)"
           )
        %>
      </template>
    </div>
  </div>

  <script>
    window.stocksData = <%= @stocks.to_json.html_safe %>;
  </script>