<%# locals: (tool:, min_height: nil) -%>
<% min_height_style = min_height ? "min-height: #{min_height};" : "" %>

<%= link_to tool_path(tool), class: "bg-white rounded-2xl border border-alpha-black-25 shadow-sm p-4 text-left cursor-pointer flex flex-col gap-4", style: min_height_style do %>
  <% if tool.category %>
    <div class="w-10 h-10 grid place-items-center rounded-xl <%= tool.category[:bg_class] %>">
      <%= lucide_icon tool.icon, class: "w-6 h-6 #{tool.category[:text_class]}" %>
    </div>
  <% end %>

  <div class="mt-auto">
    <h2 class="font-medium"><%= tool.name %></h2>
    <p class="text-gray-600"><%= tool.description %></p>
  </div>

  <% if tool.category %>
    <div class="flex items-center gap-1.5 border border-alpha-black-100 w-max py-1 px-2 rounded-full">
      <div class="w-2 h-2 <%= tool.category[:solid_bg_class] %> rounded-full"></div>
      <p class="text-gray-500 text-xs font-medium uppercase tracking-wide"><%= tool.category[:name] %></p>
    </div>
  <% end %>
<% end %>
