<div class="max-w-[520px] mt-4 mx-auto prose">
  <p class="text-sm text-center">
    <span class="text-gray-500">Tools / </span> <%= @tool.name %>
  </p>
  <h1 class="text-3xl font-medium tracking-tight text-center"><%= @tool.name %></h1>

  <div class="text-center">
    <%= markdown @tool.intro %>
  </div>
</div>

<%= render_tool(@tool) %>

<div class="max-w-[504px] mt-4 mx-auto prose">
  <%= markdown @tool.content %>
</div>
