<%
  # Render widget first so it can set the title
  content_for :widget do
    render "tools/widgets/#{@tool.slug.underscore}", tool: @tool
  end

  content_for(:title) { @tool.name } unless content_for?(:title)
  description @tool.intro
  meta_image @tool.meta_image_url if @tool.meta_image_url.present?
%>

<article>
  <div class="max-w-[520px] mt-4 mb-10 mx-auto">
    <p class="mb-6 text-sm text-center">
      <span class="text-gray-500"><%= link_to "Tools", tools_path %> / </span> <%= @tool.name %>
    </p>

    <h1 class="text-3xl font-medium tracking-tight text-center">
      <%= @tool.name %>
    </h1>

    <div class="prose text-center">
      <%= markdown @tool.intro %>
    </div>
  </div>

  <%= content_for :widget %>

  <div class="max-w-[600px] mt-10 mx-auto prose prose-headings:font-medium">
    <%= markdown @tool.content %>
  </div>
</article>
