<div class="max-w-[520px] mt-4 mb-10 mx-auto">
  <p class="text-sm text-center mb-6">
  <span class="text-gray-500"><%= link_to "Tools", tools_path %> / </span> <%= @tool.name %>
  </p>
  <h1 class="text-3xl font-medium tracking-tight text-center"><%= @tool.name %></h1>

  <div class="text-center prose">
    <%= markdown @tool.intro %>
  </div>
</div>

<%= render_tool(@tool) %>

<div class="max-w-[504px] mt-10 mx-auto prose prose-headings:font-medium">
  <%= markdown @tool.content %>
</div>
