<%= turbo_frame_tag "stock_info" do %>
  <p class="mt-2 text-sm">
    <%= @stock_info["description"] %>
  </p>
  <dl class="grid grid-cols-2 gap-4 mt-4 text-sm leading-6">
    <% if @stock_info["ceo"] %>
    <div>
      <dt class="text-gray-400">CEO</dt>
        <dd><%= @stock_info["ceo"] %></dd>
      </div>
    <% end %>
    <% if @stock_info["founding_year"] %>
      <div>
        <dt class="text-gray-400">Founded</dt>
        <dd><%= @stock_info["founding_year"] %></dd>
      </div>
    <% end %>
    <% if @stock_info["total_employees"] %>
      <div>
        <dt class="text-gray-400">Employees</dt>
        <dd><%= number_with_delimiter @stock_info["total_employees"] %></dd>
      </div>
    <% end %>
    <% if @stock_info["sector"] %>
      <div>
        <dt class="text-gray-400">Sector</dt>
        <dd><%= @stock_info["sector"] %></dd>
      </div>
    <% end %>
    <% if @stock_info["industry"] %>
      <div>
        <dt class="text-gray-400">Industry</dt>
        <dd><%= @stock_info["industry"] %></dd>
      </div>
    <% end %>
    <% if @stock_info["address"] %>
      <div>
        <dt class="text-gray-400">Headquarters</dt>
        <dd>
          <%= @stock_info["address"]["city"].presence %><%= ", " if @stock_info["address"]["city"].present? && @stock_info["address"]["state"].present? %><%= @stock_info["address"]["state"].presence %><%= " " if @stock_info["address"]["state"].present? && @stock_info["address"]["country"].present? %><%= @stock_info["address"]["country"].presence %>
        </dd>
      </div>
    <% end %>
  </dl>
  <div class="inline-block">
    <a href="<%= @stock_info["website"] %>" target="_blank" class="flex items-center px-3 py-1 mt-4 text-sm text-gray-900 border border-gray-200 rounded-full">
      <%= @stock_info["links"]["homepage_url"].gsub(/https?:\/\/(www\.)?/, "") %>
      <%= lucide_icon("link-2", class: "w-4 h-4 ml-2") %>
    </a>
  </div>
<% end %>
