<section class="flex flex-col gap-6 p-6 ml-2 rounded-lg">
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <p class="text-sm text-gray-500">Amount</p>
      <div class="flex items-center gap-2">
        <div class="flex items-center gap-2">
          <img src="https://hatscripts.github.io/circle-flags/flags/<%= tool.to_currency[0..1].downcase %>.svg" 
               alt="<%= tool.to_currency %>" 
               class="w-8 h-8 rounded-full inline-block mr-2">
          <p class="text-4xl font-medium"><%= number_to_currency(tool.converted_amount, unit: tool.to_currency, format: "%n %u") %></p>
        </div>
        <div data-exchange-rate-loading-target="spinner" class="hidden animate-spin rounded-full h-4 w-4 border-2 border-b-2 border-gray-300 border-b-blue-500"></div>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <p class="text-sm text-gray-500 mb-0 leading-none">Exchange Rate</p>
      <p class="text-xs text-gray-400 mt-0 mb-1 leading-none italic">as of <%= Time.current.strftime("%B %d, %Y at %-I:%M %p") %></p>
      <p class="text-base">
        <img src="https://hatscripts.github.io/circle-flags/flags/<%= tool.from_currency[0..1].downcase %>.svg" 
             alt="<%= tool.from_currency %>" 
             class="w-5 h-5 rounded-full inline-block mr-2">
        1 <%= tool.from_currency %> = 
        <img src="https://hatscripts.github.io/circle-flags/flags/<%= tool.to_currency[0..1].downcase %>.svg" 
             alt="<%= tool.to_currency %>" 
             class="w-5 h-5 rounded-full inline-block mx-2">
        <%= number_to_currency(tool.current_rate, unit: tool.to_currency, format: "%n %u") %>
      </p>
    </div>
  </div>

  <%= tag.div class: "h-96 mt-0", data: {
        controller: "time-series-exchange-rate-chart",
        time_series_exchange_rate_chart_series_value: tool.legend_data.to_json,
        time_series_exchange_rate_chart_data_value: tool.plot_data.to_json } do %>
    <div class="relative">
      <div data-time-series-exchange-rate-chart-target="loadingSpinner" class="absolute inset-0 z-50 flex items-center justify-center bg-white bg-opacity-75">
        <div class="animate-spin rounded-full h-12 w-12 border-2 border-b-2 border-gray-300 border-b-blue-500"></div>
      </div>
    </div>
  <% end %>

</section>
