<%# locals: (article:) -%>
<%= link_to article_url(article.slug), class: "overflow-hidden rounded-xl shadow transition hover:shadow-lg p-1 bg-white border flex flex-col justify-between h-full gap-5" do %>
  <div class="h-56 w-full object-cover bg-gradient-to-b <%= article_random_gradient(article) %> rounded-lg"></div>
  <div class="flex flex-col flex-grow justify-between">
    <div class="flex items-center gap-3 px-6">
      <time datetime="2022-10-10" class="block text-xs text-gray-500"> <%= article.publish_at %> </time>
      <p class="text-xs text-gray-500">—</p>
      <p class="text-xs text-gray-500"><%= calculate_read_time(article.content) %></p>
    </div>
    <div class="flex flex-col text-left px-6 pt-3 pb-6">
      <h3 class="mt-0.5 text-xl text-gray-900 font-medium"><%= article.title %></h3>
    </div>
    <div class="flex items-center gap-3 px-6 pb-5">
      <%= render partial: "articles/author_avatar", locals: { author: article.author_name } %>
      <p><%= article.author_name %></p>
    </div>
  </div>
<% end %>