<%= link_to article, class: "block bg-white shadow-xs rounded-xl border p-1" do %>
  <%= tag.div class: "min-h-[220px] rounded-lg bg-gradient-to-b #{article_gradient(article)}" %>
  <div class="flex flex-col justify-between px-4 py-5 text-left min-h-60">
    <div class="space-y-2">
      <span class="text-xs font-medium text-gray-500 uppercase">
        <%= article.publish_at.to_date.strftime("%B %-d, %Y") %> — <%= article_reading_time(article) %>
      </span>
      <h2 class="text-2xl font-medium text-gray-900"><%= article.title %></h2>
    </div>

    <% if article.author_name.present? %>
      <div class="flex flex-row items-center gap-3">
        <%= author_image_tag article.author_name, class: "w-8 h-8 rounded-full bg-gray-100" %>
        <p class="text-sm"><%= article.author_name %></p>
      </div>
    <% end %>
  </div>
<% end %>
