<div class="max-w-5xl mx-auto text-center">
  <div class="flex flex-col gap-y-1">
    <div class="flex items-center justify-center gap-x-2">
      <h1 class="text-3xl font-medium tracking-tight">Maybe Articles</h1>
      <%= image_tag("icon-articles.svg", alt: "Articles", class: "inline") %>
    </div>
    <p class="text-sm text-neutral-400">Thoughts and insights around personal finance.</p>
  </div>
  <div class="grid grid-cols-3 gap-4 mt-7 mb-14">
    <article class="overflow-hidden rounded-2xl shadow transition hover:shadow-lg p-1 bg-white">
      <div class="h-56 w-full object-cover bg-gradient-to-t from-pink-500 to-yellow-500 rounded-xl"></div>

      <div class="bg-white p-4 sm:p-6 text-left p-5 flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-3">
            <time datetime="2022-10-10" class="block text-xs text-gray-500"> 10th Oct 2022 </time>
            <p class="text-xs text-gray-500">—</p>
            <p class="text-xs text-gray-500"> 1 min read </p>
          </div>
          <a href="#">
            <h3 class="mt-0.5 text-lg text-gray-900">How to make equity investing part of your investment strategy</h3>
          </a>
        </div>
        <div class="flex items-center gap-3">
          <%= image_tag("joshpigford.png", class: "w-10 h-10 rounded-full") %>
          <p>Josh Pigford</p>
        </div>
      </div>
    </article>
    <article class="overflow-hidden rounded-2xl shadow transition hover:shadow-lg p-1 bg-white">
      <div class="h-56 w-full object-cover bg-gradient-to-t from-pink-500 to-yellow-500 rounded-xl"></div>

      <div class="bg-white p-4 sm:p-6 text-left p-5 flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-3">
            <time datetime="2022-10-10" class="block text-xs text-gray-500"> 10th Oct 2022 </time>
            <p class="text-xs text-gray-500">—</p>
            <p class="text-xs text-gray-500"> 1 min read </p>
          </div>
          <a href="#">
            <h3 class="mt-0.5 text-lg text-gray-900">How to make equity investing part of your investment strategy</h3>
          </a>
        </div>
        <div class="flex items-center gap-3">
          <img class="w-10 h-10 rounded-full" src="https://baremetrics.com/hubfs/Imported_Blog_Media/1_xrlIsG9P7XYb7aN8wHUjjg-1.jpeg" alt="Rounded avatar">
          <p>Josh Pigford</p>
        </div>
      </div>
    </article>
    <article class="overflow-hidden rounded-2xl shadow transition hover:shadow-lg p-1 bg-white">
      <div class="h-56 w-full object-cover bg-gradient-to-t from-pink-500 to-yellow-500 rounded-xl"></div>

      <div class="bg-white p-4 sm:p-6 text-left p-5 flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-3">
            <time datetime="2022-10-10" class="block text-xs text-gray-500"> 10th Oct 2022 </time>
            <p class="text-xs text-gray-500">—</p>
            <p class="text-xs text-gray-500"> 1 min read </p>
          </div>
          <a href="#">
            <h3 class="mt-0.5 text-lg text-gray-900">How to make equity investing part of your investment strategy</h3>
          </a>
        </div>
        <div class="flex items-center gap-3">
          <img class="w-10 h-10 rounded-full" src="https://baremetrics.com/hubfs/Imported_Blog_Media/1_xrlIsG9P7XYb7aN8wHUjjg-1.jpeg" alt="Rounded avatar">
          <p>Josh Pigford</p>
        </div>
      </div>
    </article>
    <article class="overflow-hidden rounded-2xl shadow transition hover:shadow-lg p-1 bg-white">
      <div class="h-56 w-full object-cover bg-gradient-to-t from-pink-500 to-yellow-500 rounded-xl"></div>

      <div class="bg-white p-4 sm:p-6 text-left p-5 flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-3">
            <time datetime="2022-10-10" class="block text-xs text-gray-500"> 10th Oct 2022 </time>
            <p class="text-xs text-gray-500">—</p>
            <p class="text-xs text-gray-500"> 1 min read </p>
          </div>
          <a href="#">
            <h3 class="mt-0.5 text-lg text-gray-900">How to make equity investing part of your investment strategy</h3>
          </a>
        </div>
        <div class="flex items-center gap-3">
          <img class="w-10 h-10 rounded-full" src="https://baremetrics.com/hubfs/Imported_Blog_Media/1_xrlIsG9P7XYb7aN8wHUjjg-1.jpeg" alt="Rounded avatar">
          <p>Josh Pigford</p>
        </div>
      </div>
    </article>
    <article class="overflow-hidden rounded-2xl shadow transition hover:shadow-lg p-1 bg-white">
      <div class="h-56 w-full object-cover bg-gradient-to-t from-pink-500 to-yellow-500 rounded-xl"></div>

      <div class="bg-white p-4 sm:p-6 text-left p-5 flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-3">
            <time datetime="2022-10-10" class="block text-xs text-gray-500"> 10th Oct 2022 </time>
            <p class="text-xs text-gray-500">—</p>
            <p class="text-xs text-gray-500"> 1 min read </p>
          </div>
          <a href="#">
            <h3 class="mt-0.5 text-lg text-gray-900">How to make equity investing part of your investment strategy</h3>
          </a>
        </div>
        <div class="flex items-center gap-3">
          <img class="w-10 h-10 rounded-full" src="https://baremetrics.com/hubfs/Imported_Blog_Media/1_xrlIsG9P7XYb7aN8wHUjjg-1.jpeg" alt="Rounded avatar">
          <p>Josh Pigford</p>
        </div>
      </div>
    </article>
    <article class="overflow-hidden rounded-2xl shadow transition hover:shadow-lg p-1 bg-white">
      <div class="h-56 w-full object-cover bg-gradient-to-t from-pink-500 to-yellow-500 rounded-xl"></div>

      <div class="bg-white p-4 sm:p-6 text-left p-5 flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-3">
            <time datetime="2022-10-10" class="block text-xs text-gray-500"> 10th Oct 2022 </time>
            <p class="text-xs text-gray-500">—</p>
            <p class="text-xs text-gray-500"> 1 min read </p>
          </div>
          <a href="#">
            <h3 class="mt-0.5 text-lg text-gray-900">How to make equity investing part of your investment strategy</h3>
          </a>
        </div>
        <div class="flex items-center gap-3">
          <img class="w-10 h-10 rounded-full" src="https://baremetrics.com/hubfs/Imported_Blog_Media/1_xrlIsG9P7XYb7aN8wHUjjg-1.jpeg" alt="Rounded avatar">
          <p>Josh Pigford</p>
        </div>
      </div>
    </article>
  </div>
  <div class="flex flex-col gap-y-2 items-center">
    <div class="max-w-xl pt-8 mx-auto text-3xl">
      Join the Maybe <%= image_tag("icon-maybe-color.svg", alt: "Maybe Logo", class: "inline") %> waitlist
    </div>
    <div class="flex flex-col gap-y-3 max-w-96">
      <p class="text-sm text-neutral-500">Join the waitlist to get notified when a hosted version of the app is available.</p>
      <%= render_signup_form %>
    </div>
  </div>
  <div class="h-80 overflow-hidden p-3 mx-auto mb-10 mt-12 bg-black/[0.02] rounded-t-3xl border border-black/1 shadow-[0px_0px_22.07px_0px_rgba(0,0,0,0.03)]">
    <%= image_tag "screenshot.png", alt: "Maybe Screenshot", class: "w-full border border-black/1 rounded-2xl shadow-[0_7.36px_7.36px_-3.68px_rgba(11,11,11,0.03)] shadow-[0_18.39px_22.07px_-3.68px_rgba(11,11,11,0.08)]" %>
  </div>
</div>
