<div class="flex flex-col items-center">
  <%= link_to articles_path, class: "border border-gray-300 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center" do %>
    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.00008 12.8333L1.16675 6.99996M1.16675 6.99996L7.00008 1.16663M1.16675 6.99996H12.8334" stroke="#737373" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  <% end %>
  <article class="max-w-3xl mt-8">
    <div class="h-96 w-full object-cover bg-gradient-to-b <%= article_random_gradient(@article) %> rounded-xl"></div>
    <div class="text-center p-5 flex flex-col gap-6 px-32">
      <div class="flex flex-col gap-2">
        <div class="flex justify-center gap-3">
          <time datetime="2022-10-10" class="block text-sm text-gray-500"><%= @article.publish_at %></time>
          <p class="text-sm text-gray-500">—</p>
          <p class="text-sm text-gray-500"><%= calculate_read_time(@article.content) %></p>
        </div>
        <h1 class="mt-0.5 text-3xl text-gray-900 font-semibold"><%= @article.title %></h1>
      </div>
      <div class="flex flex-col items-center gap-3">
        <%= render partial: "articles/author_avatar", locals: { author: @article.author_name } %>
        <p class="text-gray-500">Author</p>
        <p><%= @article.author_name %></p>
      </div>
      <p class="text-gray-800 text-left"><%= @article.content %></p>
    </div>
    <div class="flex flex-col items-center gap-4">
      <p class="text-gray-500 text-xs">SHARE</p>
      <div class="flex gap-3">
          <%= link_to "#", class: "border border-gray-300  focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center" do %>
            <%= lucide_icon("link-2", class: "h-5 w-5 text-gray-700") %>
          <% end %>
          <%= link_to "#", class: "border border-gray-300  focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center" do %>
            <%= lucide_icon("twitter", class: "h-5 w-5 text-gray-700") %>
          <% end %>
          <%= link_to "#", class: "border border-gray-300  focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center" do %>
            <%= lucide_icon("linkedin", class: "h-5 w-5 text-gray-700") %>
          <% end %>
      </div>
    </div>
  </article>
  <div class="grid grid-cols-3 gap-4 mt-7 mb-14">
    <% @next_articles.each do |next_article| %>
      <%= render "articles/article_card", article: next_article %>
    <% end %>
  </div>
  <%= render partial: "articles/waitlist_cta_form" %>
</div>
