<%
  title "#{@term.title} - Financial Terms"
  description "#{markdown(@term.content).gsub(%r{</?[^>]+?>}, '')[0...300]}..."
  meta_image @term.meta_image_url if @term.meta_image_url.present?
%>
<div class="max-w-6xl mt-4 mx-auto tracking-[0.02em] prose">
  <p class="text-sm">
    <span class="text-gray-500">Financial Terms / <%= dict_group(@term.name) %> /</span> <%= @term.name %>
  </p>
  <article class="flex flex-col md:flex-row gap-x-10">
    <div class="max-w-[680px] w-full">
      <h1 class="text-5xl leading-[3.5rem] m-0 font-medium tracking-tight"><%= @term.title %></h1>
      <% if @term.video_id.present? %>
        <div class="aspect-w-16 aspect-h-9">
          <iframe src="https://www.youtube.com/embed/<%= @term.video_id %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      <% end %>
      <div class="text-gray-600"><%= markdown @term.content %></div>
    </div>
    <div class="max-w-[410px] w-full">
      <h2 class="text-xl leading-[2rem] m-0 tracking-[-0.01rem] mb-4 font-medium">Discover more terms</h2>
      <div class="grid gap-y-[6px] mb-8">
        <% Term.random_sample(6, exclude: @term).each do |term| %>
          <%= link_to term_path(term), class: "no-underline bg-white flex flex-row py-2.5 px-3 border shadow-xs rounded-lg hover:bg-gray-200/50" do %>
            <span><%= term.title %></span>
            <%= lucide_icon "chevron-right", class: "h-5 w-5 ml-auto text-gray-500" %>
          <% end %>
        <% end %>
      </div>
      <h2 class="text-xl leading-[2rem] m-0 tracking-[-0.01rem] mb-4 font-medium">Share this term</h2>
      <div class="flex flex-wrap gap-x-2 gap-y-2">
        <%= button_tag type: "button",
            class: "flex flex-row items-center no-underline bg-white gap-x-2 py-2 px-3 border shadow-xs rounded-full hover:bg-gray-200/50",
            data: {
              controller: "clipboard",
              clipboard_content_value: request.original_url,
              action: "click->clipboard#copy"
            } do %>
          <%= lucide_icon "link-2", class: "inline h-5 w-5" %>
          <span data-clipboard-target="button" class="text-base leading-[22px] mt-[1px]">Copy link</span>
        <% end %>
        <%= link_to "https://twitter.com/intent/tweet?url=#{CGI.escape(request.original_url)}",
            target: "_blank",
            class: "flex flex-row items-center no-underline bg-white gap-x-2 py-2 px-3 border shadow-xs rounded-full hover:bg-gray-200/50" do %>
          <%= image_tag "share-x.svg", class: "inline h-5 w-5 m-0" %>
          <span class="text-base leading-[22px] mt-[1px]">Share</span>
        <% end %>
        <%= link_to "https://www.threads.net/share?url=#{CGI.escape(request.original_url)}",
            target: "_blank",
            class: "flex flex-row items-center no-underline bg-white gap-x-2 py-2 px-3 border shadow-xs rounded-full hover:bg-gray-200/50" do %>
          <%= image_tag "share-threads.svg", class: "inline h-5 w-5 m-0" %>
          <span class="text-base mt-[1px] leading-[22px]">Share</span>
        <% end %>
        <%= link_to "https://www.linkedin.com/sharing/share-offsite/?url=#{CGI.escape(request.original_url)}",
            target: "_blank",
            class: "flex flex-row items-center no-underline bg-white gap-x-2 py-2 px-3 border shadow-xs rounded-full hover:bg-gray-200/50" do %>
          <%= image_tag "share-linkedin.svg", class: "inline h-5 w-5 m-0" %>
          <span class="text-base leading-[22px] mt-[1px]">Share</span>
        <% end %>
        <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{CGI.escape(request.original_url)}",
            target: "_blank",
            class: "flex flex-row items-center no-underline bg-white gap-x-2 py-2 px-3 border shadow-xs rounded-full hover:bg-gray-200/50" do %>
          <%= image_tag "share-fb.svg", class: "inline h-5 w-5 m-0" %>
          <span class="text-base leading-[22px] mt-[1px]">Share</span>
        <% end %>
      </div>
    </div>
  </article>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "<%= request.original_url %>"
      },
      "headline": "<%= @term.name.presence || "#{@term.name} meaning in personal finance" %>",
      "description": "<%= markdown(@term.content).gsub(%r{</?[^>]+?>}, "") %>",
      "author": {
        "@type": "Organization",
        "name": "Maybe"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Maybe",
        "logo": {
          "@type": "ImageObject",
          "url": "https://maybefinance.com/apple-icon.png"
        }
      },
      "datePublished": "<%= @term.created_at.iso8601 %>"
    }
  </script>
  <% if @term.video_id.present? %>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "VideoObject",
        "name": "<%= @term.title %>",
        "description": "<%= @term.video_description %>",
        "thumbnailUrl": "https://i3.ytimg.com/vi/<%= @term.video_id %>/maxresdefault.jpg",
        "uploadDate": "<%= @term.video_upload_date %>",
        "duration": "<%= @term.video_duration %>",
        "embedUrl": "https://www.youtube.com/embed/<%= @term.video_id %>"
      }
    </script>
  <% end %>
