<div class="flex flex-wrap items-center justify-center gap-2 mb-12">
  <% featured_quick_links[:stocks].each do |stock| %>
    <%= link_to stock_path(stock), class: "flex items-center gap-[6px] py-1 pl-1 pr-[10px] rounded-full border hover:bg-gray-100 transition-colors" do %>
      <%= image_tag "https://logo.synthfinance.com/ticker/#{stock}", class: "w-6 h-6 rounded-full", alt: stock %>
      <span><%= stock %></span>
    <% end %>
  <% end %>
  <% featured_quick_links[:exchanges].each do |exchange| %>
    <%= link_to stock_exchange_path(exchange[:name]), class: "flex items-center gap-[6px] py-1 pl-1 pr-[10px] rounded-full border hover:bg-gray-100 transition-colors" do %>
      <%= image_tag "https://hatscripts.github.io/circle-flags/flags/#{exchange[:country_code].downcase}.svg", class: "w-6 h-6 rounded-full", alt: exchange[:name] %>
      <span><%= exchange[:name] %></span>
    <% end %>
  <% end %>
  <% featured_quick_links[:sectors].each do |sector| %>
    <%= link_to stock_sector_path(sector_slug(sector)), class: "flex items-center gap-[6px] py-1 pl-1 pr-[10px] rounded-full border hover:bg-gray-100 transition-colors" do %>
      <%= lucide_icon "search", class: "w-5 h-5 text-gray-500" %>
      <span><%= sector %></span>
    <% end %>
  <% end %>
</div>
