<%
  if @sector
    title "#{@sector} Stocks"
    description "Explore #{number_with_delimiter @total_stocks} stocks in the #{@sector} sector"
  elsif @exchange
    title "#{@exchange} Stocks"
    description "Explore #{number_with_delimiter @total_stocks} stocks listed on #{@exchange}"
  elsif @industry
    title "#{@industry} Stocks"
    description "Explore #{number_with_delimiter @total_stocks} stocks in the #{@industry} industry"
  else
    title "Stocks"
    description "Explore #{number_with_delimiter @total_stocks} stocks listed on major stock markets"
  end
%>

<div>
  <div class="mx-auto text-center max-w-96">
    <div class="mb-1">
      <div class="flex items-center justify-center gap-x-2">
        <h1 class="text-3xl font-medium tracking-tight">
          <% if @sector %>
            <%= @sector %> Stocks
          <% elsif @exchange %>
            <%= @exchange %> Stocks
          <% elsif @industry %>
            <%= @industry %> Stocks
          <% else %>
            Stocks
          <% end %>
        </h1>
      </div>
      
      <p class="mt-3 text-sm text-gray-400">
        <% if @sector %>
          Explore <%= number_with_delimiter @total_stocks %> stocks in the <%= @sector %> sector
        <% elsif @exchange %>
          Explore <%= number_with_delimiter @total_stocks %> stocks listed on the <%= @exchange %> exchange
        <% elsif @industry %>
          Explore <%= number_with_delimiter @total_stocks %> stocks in the <%= @industry %> industry
        <% else %>
          Explore <%= number_with_delimiter @total_stocks %> stocks listed on major stock markets
        <% end %>
      </p>

      <%= form_with method: :get, html: {class: "mt-4 relative"}, data: { controller: "auto-submit-form", turbo_frame: "stock_list" } do |f| %>
        <%= f.text_field:q, value: @query,
          class: "w-full py-2.5 px-3 pl-10 bg-white border border-gray-300 shadow-xs rounded-xl text-sm",
          placeholder: "Search by name or ticker",
          data: { auto_submit_form_target: "auto" } %>
        <%= lucide_icon "search", class: "absolute top-2.5 left-3 w-5 h-5 text-gray-500 pointer-events-none" %>
      <% end %>
    </div>
  </div>

  <turbo-frame id="stock_list" target="_top">
    <div class="hidden py-56 mx-auto text-center only:block max-w-96">
      <%= lucide_icon "search-x", class: "w-6 h-6 mx-auto text-gray-500" %>
      <p class="mt-4 text-sm font-medium">No results found</p>
      <p class="mt-2 text-sm text-gray-500">We didn't find "<%= @query %>".</p>
    </div>

    <div class="grid max-w-full grid-cols-1 gap-3 mt-6 md:grid-cols-3">
      <% @stocks.each do |stock| %>
        <%= link_to stock_path("#{stock.symbol}:#{stock.mic_code}"), class: "block px-4 py-3 bg-white rounded-lg flex items-center gap-x-3 border border-gray-200 shadow-xs hover:border-gray-300 hover:shadow-sm" do %>
          <%= image_tag("https://logo.synthfinance.com/ticker/#{stock.symbol}", alt: "#{stock.name} logo", class: "rounded-full w-10 h-10") %>
          <span class="block overflow-hidden flex-1">
            <h6 class="font-medium truncate whitespace-nowrap"><%= stock.name %></h6>
            <div class="flex justify-between items-center">
              <span class="font-normal text-gray-500 font-mono"><%= stock.symbol %></span>
              <span class="font-normal text-gray-500 flex items-center gap-x-1 text-xs">
                <%= stock.mic_code %>
                <img src="https://hatscripts.github.io/circle-flags/flags/<%= stock.country_code.downcase %>.svg" 
                     alt="<%= stock.country_code %>" 
                     class="w-4 h-4 rounded-full">
              </span>
            </div>
          </span>
        <% end %>
      <% end %>
    </div>
  </turbo-frame>

  <div class="">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>

  <%= render "shared/cta_waitlist" %>
</div>
