<%
  title "Stocks"
  description "Explore #{number_with_delimiter @total_stocks} stocks listed on major stock markets"
%>

<div>
  <div class="mx-auto text-center max-w-96">
    <div class="mb-1">
      <div class="flex items-center justify-center gap-x-2">
        <h1 class="text-3xl font-medium tracking-tight">Stocks</h1>
      </div>

      <p class="mt-3 text-sm text-gray-400">Explore <%= number_with_delimiter @total_stocks %> stocks listed on major stock markets</p>

      <%= form_with url: all_stocks_path, method: :get, html: {class: "mt-4 relative"} do |f| %>
        <%= f.text_field :q,
          class: "w-full py-2.5 px-3 pl-10 bg-white border border-gray-300 shadow-xs rounded-xl text-sm",
          placeholder: "Search by name or ticker" %>
        <%= lucide_icon "search", class: "absolute top-2.5 left-3 w-5 h-5 text-gray-500 pointer-events-none" %>
      <% end %>
    </div>
  </div>
  

  <div class="mt-8 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="space-y-8">
      <section>
        <h2 class="text-xl font-semibold mb-4">Stock Exchanges</h2>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
          <% @exchanges.each do |exchange, country_code| %>
            <%= link_to stock_exchange_path(exchange), class: "p-4 bg-white rounded-lg border hover:border-gray-400 transition-colors" do %>
              <div class="flex items-center gap-x-2">
                <img src="https://hatscripts.github.io/circle-flags/flags/<%= country_code.downcase %>.svg" alt="<%= country_code %>" class="w-5 h-5 rounded-full">
                <div class="font-medium"><%= exchange %></div>
              </div>
              <div class="text-sm text-gray-500">
                <%= Rails.cache.fetch("stocks/exchange_count/#{exchange.parameterize}", expires_in: 24.hours) do
                  count = Stock.where(exchange: exchange).count
                  pluralize(count, 'stock')
                end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </section>

      <section>
        <div class="flex flex-row mb-6 justify-between">
          <h2 class="text-2xl font-medium tracking-[-0.01em]">Sectors</h2>
          <span class="flex flex-row font-medium text-base items-center group gap-x-1">
            <%= link_to "View All", sectors_stocks_path, class: "text-gray-700 hover:text-gray-800 transition-all" %> <%= lucide_icon "chevron-right", class: "text-gray-500 w-4 h-4 inline group-hover:text-gray-800 transition-all" %>
          </span>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
          <% @sectors.sample(12).each do |sector| %>
            <%= link_to stock_sector_path(sector_slug(sector)), class: "text-base leading-6 px-4 py-3 bg-white rounded-2xl border hover:border-gray-400 transition-colors" do %>
              <h6 class="font-medium"><%= sector %></h6>
              <p class="text-gray-500">
                <%= Rails.cache.fetch("stocks/sector_count/#{sector.parameterize}", expires_in: 24.hours) do
                  count = Stock.where(sector: sector).count
                  pluralize(count, 'stock')
                end %>
              </p>
            <% end %>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>
