<%
  if @sector
    title "#{@sector} Sectors"
    description "Explore #{pluralize(number_with_delimiter(@total_stocks), 'stock')} in the #{@sector} sector"
  end
%>
<div class="max-w-[1140px] mx-auto">
  <div class="mx-auto text-center max-w-[695px]">
    <div>
      <div class="flex items-center justify-center ">
        <h1 class="text-6xl leading-[calc(4rem+8px)] font-medium tracking-[-0.02em] mb-2">
          many <%= @sector %> Stocks
        </h1>
      </div>
      <p class="text-xl leading-[1.4] text-gray-400 mb-6">
        <% if @sector %>
          Explore <%= pluralize(number_with_delimiter(@total_stocks), 'stock') %> in the <%= @sector %> sector
        <% else %>
          Explore stocks listed on major stock markets
        <% end %>
      </p>
    </p>
    <%= form_with url: all_stocks_path, method: :get, html: {class: "mb-4 relative"} do |f| %>
      <%= f.text_field :q, value: @query,
          class: "w-full py-2.5 px-3 pl-10 bg-white border border-gray-300 shadow-xs rounded-xl focus:outline-none focus:ring-0 focus:border-gray-900 text-sm",
          placeholder: "Search by name or ticker",
          data: { auto_submit_form_target: "auto" } %>
      <%= lucide_icon "search", class: "absolute top-2.5 left-3 w-5 h-5 text-gray-500 pointer-events-none" %>
    <% end %>
  </div>
</div>
<turbo-frame id="stock_list" target="_top" class="w-full flex flex-col mb-12">
  <div class="hidden py-56 mx-auto text-center only:block max-w-96">
    <%= lucide_icon "search-x", class: "w-6 h-6 mx-auto text-gray-500" %>
    <p class="mt-4 text-sm font-medium">No results found</p>
    <p class="mt-2 text-sm text-gray-500">We didn't find "<%= @query %>".</p>
  </div>
  <div class="grid max-w-full grid-cols-1 gap-3 mt-6 md:grid-cols-3">
  </div>
</turbo-frame>
<div class="flex justify-center w-full mx-auto">
  <%# <%== pagy_nav(@pagy) if !@pagy.pages.nil? && @pagy.pages > 1 %>
</div>
</div>
