<header class="flex sticky top-0 z-50 flex-wrap">
  <%= image_tag "border-strip.svg", alt: "Maybe Stripe", class: "object-cover w-full h-[6px]" %>
  <nav class="flex items-center justify-between w-full py-4 px-6 bg-transparent bg-blur-xl backdrop-blur-xl" data-controller="navbar" data-navbar-hidden-class="hidden">
    <div class="flex items-center gap-x-3">
      <%= link_to image_tag("logo.svg", alt: "Maybe Logo", class: "h-6"), root_path %>
    </div>
    <menu class="text-sm flex items-center justify-between gap-2">
      <div class="flex items-center space-x-8">
        <!-- Mega Menu Trigger -->
        <div class="relative group">
          <button class="flex items-center text-gray-700 gap-[6px] px-3 py-1.5 focus:outline-none hover:text-gray-900 hover:bg-alpha-black-50 rounded-[10px]">
            <%= link_to "Products", "#" %>
            <%= lucide_icon("chevron-down", class: "inline w-4 h-4") %>
          </button>
          <%# <!-- Mega Menu Container --> %>
          <div class="absolute left-[-10rem] mt-6 p-2 w-[25rem] max-w-md bg-white rounded-xl shadow-lg opacity-0 invisible transform -translate-y-2 transition-all duration-300 ease-in-out group-hover:opacity-100 group-hover:visible">
            <div class="grid grid-cols-1">
              <% header_nav_products.each do |item| %>
                <%= link_to item[:path], class: "flex items-center p-2 gap-x-3 rounded-lg hover:bg-gray-50 transition ease-in-out duration-150 group/item" do %>
                  <div class="flex-shrink-0 flex items-center justify-center h-9 w-9 rounded-md bg-gray-50 text-gray-400 group-hover/item:text-gray-800 group-hover/item:bg-white group-hover/item:border group-hover/item:border-gray-300">
                    <%= lucide_icon(item[:icon], class: "w-5 h-5") %>
                  </div>
                  <div class="flex flex-col text-sm gap-0">
                    <p class="font-medium text-gray-900"><%= item[:title] %></p>
                    <p class="text-sm text-gray-500"><%= item[:description] %></p>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center space-x-8">
        <!-- Mega Menu Trigger -->
        <div class="relative group">
          <button class="flex items-center text-gray-700 gap-[6px] px-3 py-1.5 focus:outline-none hover:text-gray-900 hover:bg-alpha-black-50 rounded-[10px]">
            <%= link_to "Resources", "#" %>
            <%= lucide_icon("chevron-down", class: "inline w-4 h-4") %>
          </button>
          <%# <!-- Mega Menu Container --> %>
          <%= render partial: "shared/resources_menu" %>
        </div>
      </div>
      <a href="/pricing" class="px-3 py-1.5 <%= current_page?('/pricing') ? 'text-gray-900 font-medium' : 'text-gray-800' %> hover:text-gray-9000 hover:bg-alpha-black-50 rounded-xl">Pricing</a>
      <a href="https://github.com/maybe-finance/maybe" class="px-3 py-1.5 text-gray-800 hover:text-gray-9000 hover:bg-alpha-black-50 rounded-xl">Contribute</a>
    </menu>
    <menu class="flex hidden gap-x-2 md:flex font-medium">
      <%= link_to "Sign in", "https://github.com/maybe-finance/maybe", class: "py-2 px-3 text-sm leading-[18px] text-black group rounded-lg hover:bg-alpha-black-50 bg-transparent border-[1px] border-gray-300 hover:border-gray-300 flex items-center gap-1 shadow-btn-plain-inset-1 shadow-btn-plain-inset-2" %>
      <%= link_to  "/#waitlist", class: "p-2 pl-3 text-sm leading-[18px] text-white bg-gray-900 rounded-lg group hover:bg-gray-800 border-[1px] border-gray-900 flex items-center gap-1 shadow-btn-dark-inset-1 shadow-btn-dark-inset-2 shadow-btn-dark-inset-3" do %>
        Sign up <%= lucide_icon("chevron-right", alt: "Menu", class: "text-gray-500 group-hover:text-white transition-all duration-150 ease-in-out w-4 h-4") %>
      <% end %>
    </menu>
    <%= lucide_icon("menu", alt: "Menu", class: "w-6 h-6 md:hidden", 'data-action': 'click->navbar#toggleMobileMenu') %>
    <div class="flex flex-col hidden w-full mt-4 font-medium md:hidden" data-navbar-target="mobileMenu">
      <ul class="flex flex-col lg:flex-row lg:space-x-8">
        <% footer_resources.each do |link| %>
          <li><%= link_to link[:text], link[:path], class: link[:class] %></li>
        <% end %>
        <div class="flex flex-col gap-y-3">
          <li>
            <%= link_to "https://github.com/maybe-finance/maybe"  "Sign in", class: "px-3 py-[0.45rem] text-sm font-medium text-black rounded-xl hover:bg-alpha-black-50 bg-transparent border border-gray-300 hover:border-gray-300 flex items-center gap-2" %>
          </li>
          <li>
            <%= link_to "https://github.com/maybe-finance/maybe", class: "px-3 py-[0.45rem] text-sm font-medium text-black rounded-xl hover:bg-alpha-black-50 bg-transparent border border-gray-300 hover:border-gray-300 flex items-center gap-2" do %>
              Sign in <%= lucide_icon("chevron-right", alt: "Menu", class: "bg-gray-500 w-6 h-6 md:hidden") %>
            <% end %>
          </li>
          <li>
            <%= link_to "Join waitlist", "/#waitlist", class: "px-3 py-[0.45rem] text-sm font-medium text-white bg-gray-900 rounded-xl hover:bg-gray-800 border border-gray-900 flex w-full" %>
          </li>
        </div>
      </ul>
    </div>
  </nav>
</header>
