<div class="relative flex self-end gap-2 w-full" data-controller="search-select" data-search-select-active-class="bg-gray-100" data-search-select-list-value="<%= list %>" <%= "data-search-select-custom-filter-value=#{local_assigns[:custom_filter_value]}" if local_assigns[:custom_filter_value].present? %>>
  <%= tag.input type: :hidden, name: name,
        disabled: local_assigns[:disabled],
        data: { search_select_target: "hiddenInput", auto_submit_form_target: "auto" } %>

  <div class="relative w-full">
    <% if local_assigns[:label].present? %>
      <label class="absolute top-2 left-3 text-xs text-gray-500 z-10">
        <%= label %>
      </label>
    <% end %>

    <%= tag.input type: "text", placeholder: placeholder,
          required: local_assigns[:required], disabled: local_assigns[:disabled],
          data: { search_select_target: "input" }, class: [
          "form-field flex rounded-[10px] shadow-xs w-full text-sm justify-start items-center px-3 pr-7 text-ellipsis",
          { "h-14 pt-7": local_assigns[:label].present?, "h-9": local_assigns[:label].blank? } ] %>

    <%= lucide_icon "search", class: [
          "h-4 w-4 text-gray-500 absolute right-3 transform -translate-y-1/2",
          { "top-[67%]": local_assigns[:label].present?, "top-1/2": local_assigns[:label].blank? } ] %>
  </div>

  <ul class="hidden absolute top-[110%] right-0 w-full border border-black/10 bg-white rounded shadow-xs p-1 z-30" data-search-select-target="list">
    <%# Populated by stimulus %>
  </ul>
</div>
