<%# locals: (label: "Shopping List", value: "last_30_days", button_class: "", options: [], name: "") -%>

<div class="form-field">
  <label class="form-field__label" for="attribute_name"><%= label %></label>

  <div class="flex items-center">
    <div class="relative flex self-end w-full ml-1" data-controller="select" data-select-active-class="bg-gray-100" data-select-selected-value="<%= value %>">
      <input type="hidden" name="<%= name %>" value="<%= value %>" data-select-target="input" data-auto-submit-form-target="auto">

      <%= tag.button type: "button", class: button_class.presence || "flex items-center justify-between gap-1 text-sm p-2 cursor-pointer text-gray-500 w-full text-sm", data: { select_target: "button" } do %>
        <span data-select-target="buttonText" class="pl-1 text-black">
          <%= options.find { |option| option[1] == value }[1] %>
        </span>
        <%= lucide_icon("chevron-down", class: "w-5 h-5 inline-block") %>
      <% end %>

      <ul class="hidden absolute z-10 top-[110%] right-0 border border-alpha-black-25 bg-white rounded shadow-xs p-1" data-select-target="list">
        <% options.each do |label, value| %>
          <li class="px-5 py-1 pr-24 text-sm text-black rounded cursor-pointer hover:bg-alpha-black-50" tabindex="0" data-select-target="option" data-action="click->select#selectOption" data-value="<%= value %>">
            <%= label %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
