<div class="mt-10">
  <p class="text-xs font-medium uppercase text-center mx-auto text-gray-500">Share</p>
  <div class="flex flex-row gap-4 justify-center items-center mt-4">
    <%= link_to "#", class: "w-9 h-9 rounded-full grid place-items-center text-gray-500 hover:bg-gray-200/50 bg-transparent border border-gray-300 hover:border-gray-300 " do %>
      <%= lucide_icon("link-2", class: "h-5 w-5") %>
    <% end %>
    <%= link_to "#", class: "w-9 h-9 rounded-full grid place-items-center text-gray-500 hover:bg-gray-200/50 bg-transparent border border-gray-300 hover:border-gray-300 " do %>
      <%= lucide_icon("twitter", class: "h-5 w-5") %>
    <% end %>
    <%= link_to "#", class: "w-9 h-9 rounded-full grid place-items-center text-gray-500 hover:bg-gray-200/50 bg-transparent border border-gray-300 hover:border-gray-300 " do %>
      <%= lucide_icon("linkedin", class: "h-5 w-5") %>
    <% end %>
  </div>
</div>
