<div>
  <section class="bg-white py-20">
    <div class="max-w-5xl mx-auto">
      <div>
        <h2 class="text-[70px] text-center font-medium tracking-tight leading-[1] mb-[-1em]">Transactions <br/>
          <span class="text-gray-400">handled your way</span></h2>
        <div class="p-3 mx-auto my-10 bg-black/[0.02] rounded-3xl border border-black/1 shadow-[0px_0px_22.07px_0px_rgba(0,0,0,0.03)]">
          <%= image_tag "screenshot.png", alt: "Maybe Screenshot", class: "w-full border border-black/1 rounded-2xl shadow-[0_7.36px_7.36px_-3.68px_rgba(11,11,11,0.03)] shadow-[0_18.39px_22.07px_-3.68px_rgba(11,11,11,0.08)]" %>
        </div>
      </div>
      <div class="flex flex-col items-center pt-8 mx-auto mb-4 text-[28px] leading-2 text-gray-500 md:text-3xl ">
        <div class="mb-10 max-w-xl"><span>Create a new</span> <span class="text-gray-900">income</span> <%= image_tag("icon-maybe-color.svg", alt: "Maybe Logo", class: "inline w-8 md:w-auto") %> <span class="text-gray-900">expense</span> <%= image_tag("icon-maybe-color.svg", alt: "Maybe Logo", class: "inline w-8 md:w-auto") %> <span class="text-gray-900">or transfer</span> <%= image_tag("icon-maybe-color.svg", alt: "Maybe Logo", class: "inline w-8 md:w-auto") %> <span>transaction</span></div>
        <div class="mb-10 max-w-xl"><span class="text-gray-900">Edit</span> <span>it</span> <%= image_tag("icon-maybe-color.svg", alt: "Maybe Logo", class: "inline w-8 md:w-auto") %> <span>add custom</span> <span class="text-gray-900">categories</span> <%= image_tag("icon-maybe-color.svg", alt: "Maybe Logo", class: "inline w-8 md:w-auto") %> <span class="text-gray-900">merchants</span> <%= image_tag("icon-maybe-color.svg", alt: "Maybe Logo", class: "inline w-8 md:w-auto") %> <span>and</span> <span class="text-gray-900">tags</span> <%= image_tag("icon-maybe-color.svg", alt: "Maybe Logo", class: "inline w-8 md:w-auto") %></div>
        <div class="max-w-xl"><span>Create</span> <span class="text-gray-900">filters</span> <%= image_tag("icon-maybe-color.svg", alt: "Maybe Logo", class: "inline w-8 md:w-auto") %> <span class="text-gray-900">Import</span> <span>via CSV</span> <%= image_tag("icon-maybe-color.svg", alt: "Maybe Logo", class: "inline w-8 md:w-auto") %></div>
        <div class="max-w-2xl"><span class="text-gray-900">Link</span> <span>transactions</span> <%= image_tag("icon-maybe-color.svg", alt: "Maybe Logo", class: "inline w-8 md:w-auto") %> <span>Set up</span> <span class="text-gray-900">rules</span> <%= image_tag("icon-maybe-color.svg", alt: "Maybe Logo", class: "inline w-8 md:w-auto") %> <span>and more</span></div>
      </div>
    </div>
  </section>
  <section class="py-20">
    <h2 class="text-[70px] max-w-5xl mx-auto mb-16 text-center font-medium tracking-tight leading-[1]">Uncompromising Security <br/>
      <span class="text-gray-400">Radical Transparency</span></h2>
    <div class="max-w-7xl mx-auto flex flex-col text-sm leading-6 gap-x-10 md:flex-row">
      <div>
        <%= image_tag "maybe-security.jpeg", alt: "Maybe Open Source", class: "w-full rounded-2xl" %>
        <div class="bg-white border-gray-200 border-2 mb-4 w-10 h-10 grid place-items-center rounded-full">
          <%= lucide_icon 'lock', class: "w-5 h-5" %>
        </div>
        <div class="mt-auto">
          <h2 class="font-medium">Secure by design</h2>
          <p class="text-gray-600 mb-6">We treat your financial data like we'd want ours to be treated, by using strong encryption and secure authentication.</p>
          <%= link_to "https://github.com/maybe-finance/maybe", class: "text-gray-800 font-medium flex items-center gap-2" do %>
            Ask about security
            <span class="bg-gray-200 w-6 h-6 grid place-items-center rounded-full">
              <%= lucide_icon 'arrow-up-right', class: "w-4 h-4" %>
            </span>
          <% end %>
        </div>
      </div>
      <div>
        <%= image_tag "maybe-open.jpeg", alt: "Maybe Open Source", class: "w-full rounded-2xl" %>
        <div class="bg-white border-gray-200 border-2 mb-4
 w-10 h-10 grid place-items-center rounded-full">
          <%= lucide_icon 'code-xml', class: "w-5 h-5" %>
        </div>
        <div class="mt-auto">
          <h2 class="font-medium">Open source</h2>
          <p class="text-gray-600 mb-6">We believe financial tools should be transparent. Maybe is open-source - you can review the code, contribute, or self-host for full control.</p>
          <%= link_to "https://github.com/maybe-finance/maybe", class: "text-gray-800 font-medium flex items-center gap-2" do %>
            Start contributing
            <span class="bg-gray-200 w-6 h-6 grid place-items-center rounded-full">
              <%= lucide_icon 'arrow-up-right', class: "w-4 h-4" %>
            </span>
          <% end %>
        </div>
      </div>
      <div>
        <%= image_tag "maybe-community.jpeg", alt: "Maybe Open Source", class: "w-full rounded-2xl" %>
        <div class="bg-white border-gray-200 border-2 mb-4
 w-10 h-10 grid place-items-center rounded-full">
          <%= lucide_icon 'heart-handshake', class: "w-5 h-5" %>
        </div>
        <div class="mt-auto">
          <h2 class="font-medium">Built in public</h2>
          <p class="text-gray-600 mb-6">No hidden agendas, no gatekeeping-just a transparent, community-driven approach to creating the best financial tool possible.</p>
          <%= link_to "https://github.com/maybe-finance/maybe", class: "text-gray-800 font-medium flex items-center gap-2" do %>
            Join community
            <span class="bg-gray-200 w-6 h-6 grid place-items-center rounded-full">
              <%= lucide_icon 'arrow-up-right', class: "w-4 h-4" %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
