<%= form_with method: :get, data: { turbo_frame: :bogleheads_results } do |form| %>
  <div data-controller="synchronized-input" class="flex flex-col gap-2">
    <%= form.unit_field :invested_amount, label: "Invested Amount", value: 10000, unit_symbol: "$", data: { controller: "autonumeric", synchronized_input_target: "input", action: "synchronized-input#syncValue" } %>
    <%= range_input_slider class: "from-pink-500 to-pink-500", min: 1000, max: 1000000, step: 1000, value: 10000 %>
  </div>

  <div data-controller="synchronized-ranges" class="flex flex-col gap-4">
    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= render partial: "shared/select", locals: { name: "stock_market_ticker", label: "Total Stock Market", value: "VTI", button_class: "", options: [["VTI (Vanguard)", "VTI"], ["SCHB (Schwab)", "SCHB"], ["SPTM (SPDR)", "SPTM"]] } %>
      <%= render partial: "shared/lock_toggle", locals: { slider_class:"from-blue-500 to-blue-500 grow", name: "stock_market_percentage", id: "stock_market_percentage", value: "40" }  %>
    </div>

    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= render partial: "shared/select", locals: { name: "international_stock_market_ticker", label: "Total International Stock Market", value: "VXUS", button_class: "", options: [["VXUS (Vanguard)", "VXUS"], ["SCHF (Schwab)", "SCHF"], ["SPDW (SPDR)", "SPDW"], ["IXUS (iShares)", "IXUS"]] } %>
      <%= render partial: "shared/lock_toggle", locals: { slider_class:"from-cyan-400 to-cyan-400 grow", name: "international_stock_market_percentage", id: "international_stock_market_percentage", value: "30" }  %>
    </div>

    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= render partial: "shared/select", locals: { name: "bond_market_ticker", label: "Total Bond Market", value: "BND", button_class: "", options: [["BND (Vanguard)", "BND"], ["SCHZ (Schwab)", "SCHZ"], ["SPAB (SPDR)", "SPAB"], ["AGG (iShares)", "AGG"]] } %>
      <%= render partial: "shared/lock_toggle", locals: { slider_class:"from-violet-500 to-violet-500 grow", name: "bond_market_percentage", id: "bond_market_percentage", value: "30" }  %>
    </div>
  </div>

  <div class="mt-auto">
    <%= form.submit "Calculate" %>
  </div>
<% end %>
