<%= form_with method: :get, data: { turbo_frame: frame_id } do |form| %>
  <div class="flex flex-col gap-2">
    <%= form.unit_field :initial_investment, label: "Initial investment", value: tool.initial_investment, unit_symbol: "$", data: { controller: "autonumeric" }, input_html: { min: 0 } %>
  </div>

  <div class="relative flex flex-col gap-2">
    <%= form.unit_field :monthly_contribution, label: "Monthly contribution", value: tool.monthly_contribution, unit_symbol: "$", right_label: "per month", data: { controller: "autonumeric" }, input_html: { min: 0 } %>
  </div>

  <div class="relative flex flex-col gap-2">
    <%= form.unit_field :years_to_grow, label: "Years to grow", value: tool.years_to_grow, label_right: "years", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 0 } }, input_html: { min: 0, max: 150 } %>
  </div>

  <div class="relative flex flex-col gap-2">
    <%= form.unit_field :annual_interest_rate, label: "Annual interest rate", value: tool.annual_interest_rate, label_right: "%", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 1 } }, input_html: { min: 0 } %>
  </div>

  <div class="mt-auto">
    <%= form.submit "Calculate" %>
  </div>
<% end %>
