<%= form_with method: :get, data: { turbo_frame: frame_id } do |form| %>
  <label class="text-xl leading-[30px] tracking-normal font-medium text-gray-900 mb-4">Input your details</label>
  <div class="flex flex-col gap-2">
    <%= form.unit_field :initial_investment, label: "Initial investment", value: tool.initial_investment, unit_symbol: "$", data: { controller: "autonumeric" } %>
  </div>
  <div class="relative flex flex-col gap-2">
    <%= form.unit_field :monthly_contribution, label: "Monthly contribution", value: tool.monthly_contribution, unit_symbol: "$", right_label: "per month", data: { controller: "autonumeric" } %>
  </div>
  <div class="relative flex flex-col gap-2">
    <%= form.unit_field :years_to_grow, label: "Years to grow", value: tool.years_to_grow, label_right: "years", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 0 } } %>
  </div>
  <div class="relative flex flex-col gap-2">
    <%= form.unit_field :annual_interest_rate, label: "Annual interest rate", value: tool.annual_interest_rate, label_right: "%", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 1 } } %>
  </div>
  <div class="mt-auto">
    <%= form.submit "Calculate" %>
  </div>
<% end %>
