<%= form_with method: :get, data: {
  turbo_frame: frame_id,
  controller: "auto-submit-form exchange-rate-loading exchange-rate-url",
  exchange_rate_url_debug: true
} do |form| %>
  <div class="flex flex-col gap-2">
    <label class="text-xl leading-[30px] tracking-normal font-medium text-gray-900 mb-2">Input your details</label>
    <%= form.unit_field :amount,
        label: "Amount",
        value: tool.amount.to_i,
        data: {
          controller: "autonumeric",
          autonumeric_options_value: { decimalPlaces: 0 },
          auto_submit_form_target: "auto",
          action: "input->auto-submit-form#submit"
        } %>
  </div>
  <div class="flex flex-col gap-2">
    <div class="form-field">
      <label class="form-field__label">From Currency</label>
      <div class="flex items-center">
        <div class="relative flex self-end w-full"
          data-controller="select"
          data-select-active-class="bg-gray-100"
          data-select-selected-value="<%= tool.from_currency %>"
          data-action="select:changed->exchange-rate-url#currencyChanged">
          <input type="hidden" name="from_currency"
            value="<%= tool.from_currency %>"
            data-select-target="input"
            data-auto-submit-form-target="auto"
            data-exchange-rate-url-target="fromCurrency"
            data-action="input->exchange-rate-url#currencyChanged">
          <button type="button" class="items-center px-3 py-[6px] cursor-pointer text-gray-900 text-sm w-full flex justify-between" data-select-target="button">
            <span data-select-target="buttonText"><%= tool.currency_options.find { |opt| opt[1] == tool.from_currency }&.first %></span>
            <%= lucide_icon("chevron-down", class: "w-5 h-5 text-gray-500") %>
          </button>
          <ul class="hidden absolute z-10 top-[110%] right-0 border border-alpha-black-25 bg-white rounded shadow-xs w-full p-1" data-select-target="list">
            <% tool.currency_options.each do |label, value| %>
              <li class="px-4 py-2 text-sm text-black rounded cursor-pointer hover:bg-alpha-black-50"
                  data-select-target="option"
                  data-action="click->select#selectOption"
                data-value="<%= value %>">
                <%= label %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <div class="form-field">
      <label class="form-field__label">To Currency</label>
      <div class="flex items-center">
        <div class="relative flex self-end w-full" data-controller="select" data-select-active-class="bg-gray-100" data-select-selected-value="<%= tool.to_currency %>">
          <input type="hidden" name="to_currency"
            value="<%= tool.to_currency %>"
            data-select-target="input"
            data-auto-submit-form-target="auto"
            data-exchange-rate-url-target="toCurrency"
            data-action="input->exchange-rate-url#currencyChanged">
          <button type="button" class="items-center px-3 py-[6px] cursor-pointer text-gray-900 text-sm w-full flex justify-between" data-select-target="button">
            <span data-select-target="buttonText"><%= tool.currency_options.find { |opt| opt[1] == tool.to_currency }&.first %></span>
            <%= lucide_icon("chevron-down", class: "w-5 h-5 text-gray-500") %>
          </button>
          <ul class="hidden absolute z-10 top-[110%] right-0 border border-alpha-black-25 bg-white rounded shadow-xs w-full p-1" data-select-target="list">
            <% tool.currency_options.each do |label, value| %>
              <li class="px-4 py-2 text-sm text-black rounded cursor-pointer hover:bg-alpha-black-50"
                  data-select-target="option"
                  data-action="click->select#selectOption"
                data-value="<%= value %>">
                <%= label %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%= form.submit "Calculate", class: "hidden" %>
<% end %>
