<%= form_with method: :get, data: { turbo_frame: frame_id } do |form| %>
  <label class="text-xl leading-[30px] tracking-normal font-medium text-gray-900 mb-4">Input your details</label>
  <div class="flex flex-col gap-2">
    <%= form.unit_field :initial_amount, label: "Initial Amount", value: tool.initial_amount, unit_symbol: "$", data: { controller: "autonumeric" } %>
  </div>
  <div class="flex flex-col gap-2">
    <%= form.unit_field :inflation_percentage, label: "Inflation in %", label_right: "%", value: tool.inflation_percentage * 100, data: { controller: "autonumeric" } %>
  </div>
  <div class="flex flex-col gap-2">
    <%= form.unit_field :years, label: "Years", label_right: "years", value: tool.years, data: { controller: "autonumeric" } %>
  </div>
  <div class="mt-auto md:mt-[140px]">
    <%= form.submit "Calculate" %>
  </div>
<% end %>
