<%
  title "Stay on track with simple budgeting"
  description "Manage your money effortlessly with smart budgets and simple tracking."
%>

<article class="bg-contain bg-top bg-no-repeat" style="background-image: url(<%= asset_path('main-bg.svg') %>)">
  <section class="text-center py-8 px-4">
    <p class="text-lg mb-6 text-center">
      <span class="text-gray-500">Features <%= lucide_icon "chevron-right", class: "text-gray-500 w-4 h-4 inline" %></span> Budgeting
    </p>
    <h1 class="text-[4.5rem] text-gray-700 max-w-[600px] mx-auto leading-[calc(1em+4px)] tracking-[-0.04em] font-medium mb-4">Stay on track with simple budgeting</h1>
    <p class="text-xl px-4 font-normal leading-[1.4] text-gray-500 tracking-normal mb-4 max-w-[480px] mx-auto">Manage your money effortlessly with smart budgets and simple tracking.</p>
    <div class="mb-[3.75rem]"><%= render "shared/cta_header" %></div>
    <%= image_tag "features/budgeting-header.svg", alt: "Maybe Screenshot", class: "w-full max-w-[654px] mx-auto mb-10 lg:mb-20 header-effects"%>
  </section>
  <section class="flex flex-col gap-y-4 lg:gap-y-8 bg-gradient-to-b from-transparent to-white pb-8 rounded-b-xl">
    <!-- Track where your money is going -->
    <div class="flex flex-col md:flex-row items-center p-6 gap-6 max-w-6xl mx-auto">
      <div class="md:w-1/2 p-4 max-w-[480px]">
        <h2 class="text-[2.5rem] leading-[1.1em] tracking-[-0.04em] font-medium mb-4 text-gray-800">Track where your <br />
          <span class="font-normal text-gray-400">money is going</span></h2>
        <div class="space-y-4 mt-6">
          <!-- Feature 1 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "chart-pie", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal">
              <h3 class=" text-gray-800 font-medium mb-0">Effortless budgeting</h3>
              <p class="text-gray-400 font-normal">Customize category budgets, set smart allocations, and track every cent.</p>
            </div>
          </div>
          <!-- Feature 2 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "table-2", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal ">
              <h3 class=" text-gray-800 font-medium mb-0">Expense breakdown</h3>
              <p class="text-gray-400 font-normal">See exactly where your money goes and adjust your budget accordingly.</p>
            </div>
          </div>
          <!-- Feature 3 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "trending-up", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal">
              <h3 class=" text-gray-800 font-medium mb-0">Spending trends</h3>
              <p class="text-gray-400 font-normal">Monitor long-term trends to improve your financial habits over time.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="md:w-1/2 p-4">
        <%= image_tag "features/budgeting-track-money.svg", alt: "Maybe Screenshot", class: "w-full max-w-[460px]" %>
      </div>
    </div>
    <!-- Plan ahead with smarter budgeting -->
    <div class="flex flex-col-reverse md:flex-row items-center p-6 gap-6 max-w-6xl mx-auto">
      <div class="md:w-1/2 p-4 -mb-16">
        <%= image_tag "features/budgeting-plan-ahead.svg", alt: "Maybe Screenshot", class: "w-full max-w-[460px]" %>
      </div>
      <div class="md:w-1/2 p-4 max-w-[480px]">
        <h2 class="text-[2.5rem] leading-[1.1em] tracking-[-0.04em] font-medium mb-4 text-gray-800">Plan ahead with <br />
          <span class="font-normal text-gray-400">smarter budgeting</span></h2>
        <div class="space-y-4 mt-6">
          <!-- Feature 1 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "arrow-up", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal">
              <h3 class=" text-gray-800 font-medium mb-0">Spot averages</h3>
              <p class="text-gray-400 font-normal">Identify any overages and make adjustments to stay on track with your spending goals.</p>
            </div>
          </div>
          <!-- Feature 2 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "calendar", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal ">
              <h3 class=" text-gray-800 font-medium mb-0">Future planning</h3>
              <p class="text-gray-400 font-normal">Plan ahead with insights into upcoming expenses and cash flow.</p>
            </div>
          </div>
          <!-- Feature 3 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "zap", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal">
              <h3 class=" text-gray-800 font-medium mb-0">AI suggested allocation</h3>
              <p class="text-gray-400 font-normal">Easily input expenses, income and transfer transactions.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Plan ahead with smarter budgeting -->
    <div class="flex flex-col md:flex-row items-center p-6 gap-6 max-w-6xl mx-auto">
      <div class="md:w-1/2 p-4 max-w-[480px]">
        <h2 class="text-[2.5rem] leading-[1.1em] tracking-[-0.04em] font-medium mb-4 text-gray-800">Stay in control<br />
          <span class="font-normal text-gray-400">of your cashflow</span></h2>
        <div class="space-y-4 mt-6">
          <!-- Feature 1 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "cuboid", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal">
              <h3 class=" text-gray-800 font-medium mb-0">Planned versus actual</h3>
              <p class="text-gray-400 font-normal">See how your budget stacks up against reality and adjust accordingly.</p>
            </div>
          </div>
          <!-- Feature 2 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "wallet-cards", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal ">
              <h3 class=" text-gray-800 font-medium mb-0">Monitor spending</h3>
              <p class="text-gray-400 font-normal">Keep track of your remaining budget and avoid surprises.</p>
            </div>
          </div>
          <!-- Feature 3 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "cone", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal">
              <h3 class=" text-gray-800 font-medium mb-0">Stay in control</h3>
              <p class="text-gray-400 font-normal">Easily view your earnings, spending, and balance &mdash; all in one place.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="md:w-1/2 p-4">
        <%= image_tag "features/budgeting-stay-in-control.svg", alt: "Maybe Screenshot", class: "w-full max-w-[460px]" %>
      </div>
    </div>
  </div>
</section>
</article>
