<%
  title "Take control of your transactions"
  description "Easily organize your spending, link transactions, set rules, and keep everything in sync."
%>

<article class="bg-contain bg-top bg-no-repeat" style="background-image: url(<%= asset_path('main-bg.svg') %>)">
  <section class="text-center py-8 px-4">
    <p class="text-lg mb-6 text-center">
      <span class="text-gray-500">Features <%= lucide_icon "chevron-right", class: "text-gray-500 w-4 h-4 inline" %></span> Transactions
    </p>
    <h1 class="text-[4.5rem] text-gray-700 max-w-[600px] mx-auto leading-[calc(1em+4px)] tracking-[-0.04em] font-medium mb-4">Take control of your transactions</h1>
    <p class="text-xl font-normal leading-[1.4] text-gray-500 tracking-normal mb-4 max-w-[480px] mx-auto">Easily organize your spending, link transactions, set rules, and keep everything in sync.</p>
    <div class="mb-[3.75rem]"><%= render "shared/cta_header" %></div>
    <%= image_tag "features/transactions-header.svg", alt: "Maybe Screenshot", class: "w-full max-w-[915px] mx-auto mb-10 lg:mb-20 header-effects"%>
  </section>
  <section class="flex flex-col gap-y-4 lg:gap-y-8 bg-gradient-to-b from-transparent to-white pb-8 rounded-b-xl">
    <!-- Stay on top -->
    <div class="flex flex-col md:flex-row items-center p-4 lg:p-6 gap-6 max-w-6xl mx-auto">
      <div class="md:w-1/2 p-4 max-w-[480px]">
        <h2 class="text-[2.5rem] leading-[1.1em] tracking-[-0.04em] font-medium mb-4 text-gray-800">Stay on top of <br />
          <span class="font-normal text-gray-400">every transaction</span></h2>
        <div class="space-y-4 mt-6">
          <!-- Feature 1 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "credit-card", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal">
              <h3 class=" text-gray-800 font-medium mb-0">Effortless tracking</h3>
              <p class="text-gray-400 font-normal">Easily monitor, categorize, and review your transactions in one place.</p>
            </div>
          </div>
          <!-- Feature 2 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "shapes", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal ">
              <h3 class=" text-gray-800 font-medium mb-0">Custom categorization</h3>
              <p class="text-gray-400 font-normal">Personalize every transaction with custom categories, merchants, and tags.</p>
            </div>
          </div>
          <!-- Feature 3 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "panel-left", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal">
              <h3 class=" text-gray-800 font-medium mb-0">Detailed transaction view</h3>
              <p class="text-gray-400 font-normal">Add notes, receipts, and extra details to keep records organized.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="md:w-1/2 p-4 -mb-[180px]">
        <%= image_tag "features/transactions-stay-on-top.svg", alt: "Maybe Screenshot", class: "w-full max-w-[560px] object-top object-cover overflow-hidden" %>
      </div>
    </div>
    <!-- Find any transaction -->
    <div class="flex flex-col-reverse md:flex-row items-center p-4 lg:p-6 gap-6 max-w-6xl mx-auto">
      <div class="md:w-1/2 p-4">
        <%= image_tag "features/transactions-find-any.svg", alt: "Maybe Screenshot", class: "w-full max-w-[460px]" %>
      </div>
      <!-- Right section - Features summary -->
      <div class="md:w-1/2 p-4 max-w-[480px]">
        <h2 class="text-[2.5rem] leading-[1.1em] tracking-[-0.04em] font-medium mb-4 text-gray-800">Find any transaction <br />
          <span class="font-normal text-gray-400">with powerful filters</span></h2>
        <div class="space-y-4 mt-6">
          <!-- Feature 1 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "list-filter", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal">
              <h3 class=" text-gray-800 font-medium mb-0">Advanced filtering</h3>
              <p class="text-gray-400 font-normal">Refine transactions by date, account, type, amount, category, tag or merchant.</p>
            </div>
          </div>
          <!-- Feature 2 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "calendar", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal ">
              <h3 class=" text-gray-800 font-medium mb-0">Date range search</h3>
              <p class="text-gray-400 font-normal">Analyze transactions over custom time periods effortlessly.</p>
            </div>
          </div>
          <!-- Feature 3 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "pencil-line", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal">
              <h3 class=" text-gray-800 font-medium mb-0">Bulk edits</h3>
              <p class="text-gray-400 font-normal">Filter multiple transactions at once and apply quick edits in bulk.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Record transactions manually -->
    <div class="flex flex-col md:flex-row items-center p-4 lg:p-6 gap-6 max-w-6xl mx-auto">
      <div class="md:w-1/2 p-4 max-w-[480px]">
        <h2 class="text-[2.5rem] leading-[1.1em] tracking-[-0.04em] font-medium mb-4 text-gray-800">Record transactions<br />
          <span class="font-normal text-gray-400">manually too</span></h2>
        <div class="space-y-4 mt-6">
          <!-- Feature 1 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "globe", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal">
              <h3 class=" text-gray-800 font-medium mb-0">Manually input</h3>
              <p class="text-gray-400 font-normal">Easily input expenses, income and transfer transactions.</p>
            </div>
          </div>
          <!-- Feature 2 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "link-2", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal ">
              <h3 class=" text-gray-800 font-medium mb-0">Link transfers</h3>
              <p class="text-gray-400 font-normal">Ensure accurate tracking by connecting manual transfers across accounts.</p>
            </div>
          </div>
          <!-- Feature 3 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "plus", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal">
              <h3 class=" text-gray-800 font-medium mb-0">Add more detail</h3>
              <p class="text-gray-400 font-normal">Provide detail to keep transactions well-documented like notes and attached receipts.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="md:w-1/2 p-4">
        <%= image_tag "features/transactions-record-manually.svg", alt: "Maybe Screenshot", class: "w-full max-w-[460px]" %>
      </div>
    </div>
    <!-- Import with CSV -->
    <div class="flex flex-col-reverse md:flex-row items-center p-4 lg:p-6 gap-6 max-w-6xl mx-auto">
      <div class="md:w-1/2 p-4">
        <%= image_tag "features/transactions-import-csv.svg", alt: "Maybe Screenshot", class: "w-full max-w-[460px]" %>
      </div>
      <!-- Right section - Features summary -->
      <div class="md:w-1/2 p-4 max-w-[480px]">
        <h2 class="text-[2.5rem] leading-[1.1em] tracking-[-0.04em] font-medium mb-4 text-gray-800">Or import them instead <br />
          <span class="font-normal text-gray-400">with a CSV file</span></h2>
        <div class="space-y-4 mt-6">
          <!-- Feature 1 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "upload", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal">
              <h3 class=" text-gray-800 font-medium mb-0">Dead simple importing</h3>
              <p class="text-gray-400 font-normal">Import seamlessly with a guided step-by-step flow and AI-assisted autoformatting.</p>
            </div>
          </div>
          <!-- Feature 2 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "table", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal ">
              <h3 class=" text-gray-800 font-medium mb-0">Flexible configurations</h3>
              <p class="text-gray-400 font-normal">Map columns, set formats, and customize imports to fit your needs.</p>
            </div>
          </div>
          <!-- Feature 3 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "database", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal">
              <h3 class=" text-gray-800 font-medium mb-0">Clean and edit</h3>
              <p class="text-gray-400 font-normal">Quickly review and adjust imported transactions before confirming.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Set up rules -->
    <div class="flex flex-col md:flex-row items-center p-4 lg:p-6 gap-6 max-w-6xl mx-auto">
      <div class="md:w-1/2 p-4 max-w-[480px]">
        <h2 class="text-[2.5rem] leading-[1.1em] tracking-[-0.04em] font-medium mb-4 text-gray-800">Set up smart rules<br />
          <span class="font-normal text-gray-400">and start automating</span></h2>
        <div class="space-y-4 mt-6">
          <!-- Feature 1 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "globe", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal">
              <h3 class=" text-gray-800 font-medium mb-0">Setup custom rules</h3>
              <p class="text-gray-400 font-normal">Automatically categorize transactions based on description, merchant, or amount.</p>
            </div>
          </div>
          <!-- Feature 2 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "plug", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal ">
              <h3 class=" text-gray-800 font-medium mb-0">Apply to any time period</h3>
              <p class="text-gray-400 font-normal">Ensure consistency by applying rules retroactively and moving forward.</p>
            </div>
          </div>
          <!-- Feature 3 -->
          <div class="flex">
            <div class="mr-4 w-8 h-8 p-1.5 flex items-center justify-center bg-gray-100 rounded-full">
              <%= lucide_icon "arrow-left-right", class: "text-gray-500 w-5 h-5" %>
            </div>
            <div class="text-[1.125rem] leading-[1.4] tracking-normal">
              <h3 class=" text-gray-800 font-medium mb-0">Automated organization</h3>
              <p class="text-gray-400 font-normal">Let automation handle transactions sorting, so you stay focused on insights.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="md:w-1/2 p-4">
        <%= image_tag "features/transactions-setup-smart-rules.svg", alt: "Maybe Screenshot", class: "w-full max-w-[460px]" %>
      </div>
    </div>
  </section>
</article>
