<%= turbo_frame_tag "stock_statistics" do %>
  <dl class="grid grid-cols-2 gap-4 mt-4 text-sm leading-6">
    <% if @stock_statistics["market_cap"] %>
      <div>
        <dt class="text-gray-400">Market Cap</dt>
        <dd>$<%= number_to_human(@stock_statistics["market_cap"], units: { million: 'M', billion: 'B', trillion: 'T' }, precision: 3, format: "%n%u") %></dd>
      </div>
    <% end %>
    <% if @stock_statistics["high_today"] %>
      <div>
        <dt class="text-gray-400">High Today</dt>
        <dd><%= number_to_currency(@stock_statistics["high_today"]) %></dd>
      </div>
    <% end %>
    <% if @stock_statistics["low_today"] %>
      <div>
        <dt class="text-gray-400">Low Today</dt>
        <dd><%= number_to_currency(@stock_statistics["low_today"]) %></dd>
      </div>
    <% end %>
    <% if @stock_statistics["open_today"] %>
      <div>
        <dt class="text-gray-400">Open Today</dt>
        <dd><%= number_to_currency(@stock_statistics["open_today"]) %></dd>
      </div>
    <% end %>
    <% if @stock_statistics["volume_today"] %>
      <div>
        <dt class="text-gray-400">Volume Today</dt>
        <dd><%= number_with_delimiter(@stock_statistics["volume_today"]) %></dd>
      </div>
    <% end %>
    <% if @stock_statistics["fifty_two_week_high"] %>
      <div>
        <dt class="text-gray-400">52 Week High</dt>
        <dd><%= number_to_currency(@stock_statistics["fifty_two_week_high"]) %></dd>
      </div>
    <% end %>
    <% if @stock_statistics["fifty_two_week_low"] %>
      <div>
        <dt class="text-gray-400">52 Week Low</dt>
        <dd><%= number_to_currency(@stock_statistics["fifty_two_week_low"]) %></dd>
      </div>
    <% end %>
    <% if @stock_statistics["average_volume"] %>
      <div>
        <dt class="text-gray-400">Average Volume</dt>
        <dd><%= number_with_delimiter(@stock_statistics["average_volume"].to_i) %></dd>
      </div>
    <% end %>
  </dl>
<% end %>
