<%= turbo_frame_tag "stock_similar_stocks" do %>
  <% if @similar_stocks_data.present? %>
    <div class="mt-4">
      <span class="text-base text-gray-800">Other stocks</span>
      <div class="space-y-3 mt-2">
        <% @similar_stocks_data.each_with_index do |stock_data, index| %>
          <%= link_to stock_path("#{stock_data[:symbol]}:#{stock_data[:mic_code]}"), class: "block", data: { turbo: false } do %>
            <div class="flex items-start justify-between space-x-4 <%= index < @similar_stocks_data.size - 1 ? 'border-b border-gray-200 pb-3' : '' %>">
              <div class="flex items-center">
                <img src="https://logo.synthfinance.com/ticker/<%= stock_data[:symbol] %>" alt="<%= stock_data[:symbol] %>" class="w-8 h-8 rounded-full mr-2">
                <div>
                  <h4 class="text-sm font-medium"><%= stock_data[:name] %></h4>
                  <p class="text-sm text-gray-500"><%= stock_data[:symbol] %></p>
                </div>
              </div>
              <div class="text-right">
                <p class="font-medium text-sm <%= stock_data[:price_change] >= 0 ? 'text-green-500' : 'text-red-500' %>"><%= stock_data[:price_change] >= 0 ? '+' : '' %><%= number_to_currency(stock_data[:price_change]) %></p>
                <p class="text-sm <%= stock_data[:price_change] >= 0 ? 'text-green-500' : 'text-red-500' %>">
                  (<%= stock_data[:percent_change] %>%)
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
